<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie">

    <xacro:property name="mesh_root" value="package://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/common/xacro/api/forearm_api.xacro"/>
    
    <xacro:property name="prefix" value="left"/>
    <xacro:property name="reflect" value="1"/>

    <link name="world"/>

    <xacro:make_lower_arm prefix="${prefix}" reflect="${reflect}" lower_arm_root_link="world"/>
    <xacro:make_thumb prefix="${prefix}" reflect="${reflect}" thumb_root_link="${prefix}Palm"/>
    <xacro:make_index_finger prefix="${prefix}" reflect="${reflect}" index_finger_root_link="${prefix}Palm"/>
    <xacro:make_middle_finger prefix="${prefix}" reflect="${reflect}" middle_finger_root_link="${prefix}Palm"/>
    <xacro:make_pinky_finger prefix="${prefix}" reflect="${reflect}" pinky_finger_root_link="${prefix}Palm"/>

    <xacro:simple_forearm_position_transmission jointName="${ForearmYawActuatorName}" actuatorName="${ForearmYawActuatorName}" nodeName="${ForearmYawNode}" actuatorApi="${ForearmYawApi}" reflect="${reflect}"/> 
    <xacro:index_finger_transmissions_hw prefix="${prefix}" reflect="${reflect}"/>
    <xacro:middle_finger_transmissions_hw prefix="${prefix}" reflect="${reflect}"/>
    <xacro:pinky_finger_transmissions_hw prefix="${prefix}" reflect="${reflect}"/>
    <xacro:thumb_transmissions_hw prefix="${prefix}" reflect="${reflect}"/>
    <xacro:athena1_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena1Transmission" actuatorApi="${Athena1Api}" nodeName="${Athena1Node}"/>
    <xacro:athena2_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena2Transmission" actuatorApi="${Athena2Api}" nodeName="${Athena2Node}"/>

</robot>
