<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_nodes">

	<xacro:property name="HipYawNode" value="/${prefix}_leg/j1" />
	<xacro:property name="HipRollNode" value="/${prefix}_leg/j2" />
	<xacro:property name="HipPitchNode" value="/${prefix}_leg/j3" />
	<xacro:property name="KneePitchNode" value="/${prefix}_leg/j4" />
	<xacro:property name="AnkleInsideActuatorNode" value="/${prefix}_leg/ankle/left_actuator" />
	<xacro:property name="AnkleOutsideActuatorNode" value="/${prefix}_leg/ankle/right_actuator" />

	<xacro:property name="ShoulderPitchNode" value="/${prefix}_arm/j1" />
	<xacro:property name="ShoulderRollNode" value="/${prefix}_arm/j2" />
	<xacro:property name="ShoulderYawNode" value="/${prefix}_arm/j3" />
	<xacro:property name="ElbowPitchNode" value="/${prefix}_arm/j4" />
	<xacro:property name="ForearmYawNode" value="/${prefix}_arm/j5" />
	<xacro:property name="WristTopActuatorNode" value="/${prefix}_arm/wrist/top_actautor" />
	<xacro:property name="WristBottomActuatorNode" value="/${prefix}_arm/wrist/bottom_actuator" />

	<xacro:property name="LowerNeckPitchNode" value="/neck/j1" />
	<xacro:property name="NeckYawNode" value="/neck/j2" />
	<xacro:property name="UpperNeckPitchNode" value="/neck/j3" />

	<xacro:property name="TrunkYawNode" value="/trunk/j1" />
	<xacro:property name="WaistLeftActuatorNode" value="/trunk/waist/left_actuator" />
	<xacro:property name="WaistRightActuatorNode" value="/trunk/waist/right_actuator" />

	<xacro:property name="pelvis_imu1_node" value="/pelvis/sensors/imu1" />
	<xacro:property name="pelvis_imu2_node" value="/pelvis/sensors/imu2" />
	<xacro:property name="torso_imu1_node" value="/torso/sensors/imu1" />
	<xacro:property name="torso_imu2_node" value="/torso/sensors/imu2" />

	<xacro:property name="left_foot_ATI_node" value="/sensors/left_leg/force_torque" />
	<xacro:property name="right_foot_ATI_node" value="/sensors/right_leg/force_torque" />

	<xacro:macro name="all_channels" >
		<Channels>
			<Channel id="/right_arm" />
			<Channel id="/left_arm" />
			<Channel id="/right_leg" />
			<Channel id="/left_leg" />
			<Channel id="/neck" />
			<Channel id="/trunk" />
		</Channels>
	</xacro:macro>
    
</robot>