<?xml version = "1.0" ?>
<robot name="Alexander">

    <!-- Right Arm -->
    <joint name="RIGHT_SHOULDER_Y" type="revolute">
        <origin xyz="-0.025 -0.1 0.214" rpy="-0.698132 0.0 0.0" />
        <axis xyz="0.0 1.0 0.0" />
        <parent link="TORSO_LINK" />
        <child link="RIGHT_SHOULDER_Y_LINK" />
        <limit effort="1000" lower="-3.141592" upper="1.22173" velocity = "100" />
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="RIGHT_SHOULDER_Y_LINK">
        <inertial>
            <mass value="2.99"/>
            <origin rpy="0 0 0" xyz="-0.00264 -0.12135 -0.006824"/>
            <inertia ixx="0.0110394" ixy="-0.0003041" ixz="-0.0000594" iyy="0.0051097" iyz="-0.0009183" izz="0.0116925" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/cycloidal_arm/RightShoulderPitchLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <joint name="RIGHT_SHOULDER_X" type="revolute">
          <origin rpy="0.698132 0.0 0.0" xyz="0.0 -0.15676000 -0.01300000" />
        <axis xyz="1 0 0" />
        <parent link="RIGHT_SHOULDER_Y_LINK" />
        <child link="RIGHT_SHOULDER_X_LINK" />
        <limit effort="1000" lower="-2.79253" upper="0.349066" velocity = "100" />
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="RIGHT_SHOULDER_X_LINK">
        <inertial>
            <mass value="0.972"/>
            <origin rpy="0 0 0" xyz="0.012489 -0.01882 -0.0385"/>
            <inertia ixx="0.002949" ixy="-0.000135" ixz="-0.0003358" iyy="0.0023603" iyz="-0.0005249" izz="0.0014377" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/cycloidal_arm/RightShoulderRollLink_shortBicep.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <joint name="RIGHT_SHOULDER_Z" type="revolute">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.035 0.0" />
        <axis xyz="0.0 0.0 1.0" />
        <parent link="RIGHT_SHOULDER_X_LINK" />
        <child link="RIGHT_SHOULDER_Z_LINK" />
         <limit effort="1000" lower="-1.22173" upper="1.91986" velocity = "100" />
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="RIGHT_SHOULDER_Z_LINK">
        <inertial>
            <mass value="2.91"/>
            <origin rpy="0 0 0" xyz="0.00524 -0.00274 -0.21745"/>
            <inertia ixx="0.0248699" ixy="0.0000211" ixz="0.0000211" iyy="0.0245973" iyz="-0.0004444" izz="0.0029883" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/cycloidal_arm/RightShoulderYawLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0867"/>
        </visual>
    </link>

    <joint name="RIGHT_ELBOW_Y" type="revolute">
        <origin rpy="0.0 0.0 0.0" xyz="0.015 0.0 -0.3127" />
        <axis xyz="0.0 1.0 0.0" />
        <parent link="RIGHT_SHOULDER_Z_LINK" />
        <child link="RIGHT_ELBOW_PITCH_LINK" />
         <limit effort="1000" lower="-2.35619" upper="0.174532925" velocity = "100" />
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <link name="RIGHT_ELBOW_PITCH_LINK">
        <inertial>
            <!-- Normal forearm knub -->
            <mass value="0.616"/>
            <origin rpy="0 0 0" xyz="-0.01090935 0.01147189 -0.10388715"/>
            <inertia ixx="0.00760733" ixy="-2.242e-5" ixz="-2.583e-4" iyy="0.00767556" iyz="-0.00061995" izz="4.554e-4" />

            <!-- 12lbs dumbbell -->
            <!--<mass value="5.9"/>-->
            <!--<origin rpy="0 0 0" xyz="0.05 0.0 -0.225"/>-->
            <!--<inertia ixx="0.05" ixy="2.242e-5" ixz="-2.583e-4" iyy="0.015" iyz="0.00061995" izz="0.05" />-->
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/cycloidal_arm/RIGHT_ELBOW_PITCH_LINK_413mm_LENGTH.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

</robot>