<?xml version = "1.0" ?>
<robot name="alexander">

    <!-- SPINE JOINTS -->
    <joint name="SPINE_Z" type="revolute">
        <origin rpy="0 0 0" xyz="0.0 0 0.018"/> <!-- check with CAD -->
        <axis xyz="0 0 1"/>
        <parent link="PELVIS_LINK"/>
        <child link="TORSO_LINK"/>
        <limit effort="150" lower="-0.5235987756" upper="0.5235987756" velocity="9.0"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <!-- LEFT LEG JOINTS -->
    <joint name="LEFT_HIP_X" type="revolute">
        <origin rpy="0 0 0" xyz="-0.162	0.0595	-0.015"/>
        <axis xyz="1 0 0"/>
        <parent link="PELVIS_LINK"/>
        <child link="LEFT_HIP_X_LINK"/>
        <limit effort="150" lower="-0.3490658504 " upper="0.872664626" velocity="9"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="LEFT_HIP_Z" type="revolute">
        <origin rpy="0 0 0" xyz="0.06	0.1	-0.08"/>
        <axis xyz="0 0 1"/>
        <parent link="LEFT_HIP_X_LINK"/>
        <child link="LEFT_HIP_Z_LINK"/>
        <limit effort="60" lower="-0.3490658504" upper="1.0472" velocity="11"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="LEFT_HIP_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0.1045	-0.0573	-0.0525"/>
        <axis xyz="0 1 0"/>
        <parent link="LEFT_HIP_Z_LINK"/>
        <child link="LEFT_THIGH"/>
        <limit effort="200" lower="-2.61799" upper="0.785398" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="LEFT_KNEE_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0	0.018	-0.32"/>
        <axis xyz="0 1 0"/>
        <parent link="LEFT_THIGH"/>
        <child link="LEFT_SHIN"/>
        <limit effort="200" lower="0" upper="2.445206282" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="LEFT_ANKLE_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0	0	-0.41"/>
        <axis xyz="0 1 0"/>
        <parent link="LEFT_SHIN"/>
        <child link="LEFT_ANKLE_Y_LINK"/>
        <limit effort="180" lower="-1.0472" upper="0.523599" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="LEFT_ANKLE_X" type="revolute">
        <origin rpy="0 0 0" xyz="0	0	-0.012"/>
        <axis xyz="1 0 0"/>
        <parent link="LEFT_ANKLE_Y_LINK"/>
        <child link="LEFT_FOOT"/>
        <limit effort="90" lower="-0.436332" upper="0.436332" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>

    <!-- RIGHT LEG JOINTS -->
    <joint name="RIGHT_HIP_X" type="revolute">
        <origin rpy="0 0 0" xyz="-0.162	-0.0595	-0.015"/>
        <axis xyz="1 0 0"/>
        <parent link="PELVIS_LINK"/>
        <child link="RIGHT_HIP_X_LINK"/>
        <limit effort="150" lower="-0.872664626" upper="0.3490658504" velocity="9"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="RIGHT_HIP_Z" type="revolute">
        <origin rpy="0 0 0" xyz="0.06	-0.1	-0.08"/>
        <axis xyz="0 0 1"/>
        <parent link="RIGHT_HIP_X_LINK"/>
        <child link="RIGHT_HIP_Z_LINK"/>
        <limit effort="60" lower="-1.0472" upper="0.3490658504" velocity="11"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="RIGHT_HIP_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0.1045	0.0573	-0.0525"/>
        <axis xyz="0 1 0"/>
        <parent link="RIGHT_HIP_Z_LINK"/>
        <child link="RIGHT_THIGH"/>
        <limit effort="200" lower="-2.61799" upper="0.785398" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="RIGHT_KNEE_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0	-0.018	-0.32"/>
        <axis xyz="0 1 0"/>
        <parent link="RIGHT_THIGH"/>
        <child link="RIGHT_SHIN"/>
        <limit effort="200" lower="0" upper="2.445206282" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="RIGHT_ANKLE_Y" type="revolute">
        <origin rpy="0 0 0" xyz="0	0	-0.41"/>
        <axis xyz="0 1 0"/>
        <parent link="RIGHT_SHIN"/>
        <child link="RIGHT_ANKLE_Y_LINK"/>
        <limit effort="180" lower="-1.0472" upper="0.523599" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>
    <joint name="RIGHT_ANKLE_X" type="revolute">
        <origin rpy="0 0 0" xyz="0	0	-0.012"/>
        <axis xyz="1 0 0"/>
        <parent link="RIGHT_ANKLE_Y_LINK"/>
        <child link="RIGHT_FOOT"/>
        <limit effort="90" lower="-0.436332" upper="0.436332" velocity="8"/>
        <dynamics damping="0.05" friction="0.0"/>
    </joint>


    <!-- LINKS -->
    <link name="PELVIS_LINK">
        <inertial>
            <mass value="9.50083635"/>
            <origin rpy="0 0 0" xyz="-0.08354287 0.00005291 -0.03484828"/>
            <inertia ixx="0.03428688" ixy="0.00001151" ixz="0.00015935" iyy="0.05178848" iyz="0.00004514" izz="0.06001929"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//Pelvis.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>
    <!-- pelvis_stim_imu -->
    <joint name="PELVIS_STIM_IMU_JOINT" type="fixed">
        <parent link="PELVIS_LINK"/>
        <child link="PELVIS_STIM_IMU_LINK"/>
        <origin xyz="-0.08687724 0.01225028 -0.08051472" rpy="0.0 0.0 1.570796"/>
    </joint>

    <link name="PELVIS_STIM_IMU_LINK">
        <inertial>
            <mass value="0.0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

    <gazebo reference="PELVIS_STIM_IMU_LINK">
        <sensor name="pelvis_stim_imu" type="imu">
            <always_on>1</always_on>
            <update_rate>1000.0</update_rate>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </sensor>
    </gazebo>
    <!-- end pelvis imu -->

    <!-- LEFT LEG LINKS -->
    <link name="LEFT_HIP_X_LINK">
        <inertial>
            <mass value="2.32977961"/>
            <origin rpy="0 0 0" xyz="0.04350911	0.08708606 -0.03525761"/>
            <inertia ixx="0.00467452" ixy="-0.00058626" ixz="0.00013124" iyy="0.00516613" iyz="0.00048141" izz="0.00553124"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//LeftHipRollLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <!-- LeftHipRollIMU-->
	<link name="LEFT_HIP_X_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="LEFT_HIP_X_IMU_JOINT" type="fixed">
		<origin rpy="-1.570796 0 1.570796" xyz="-0.01922309 0.10145013 -0.01488788"/>
		<axis xyz="0 0 1"/>
		<parent link="LEFT_HIP_X_LINK"/>
		<child link="LEFT_HIP_X_IMU_LINK"/>
	</joint>
	<gazebo reference="LEFT_HIP_X_IMU">
		<sensor name="left_hip_x_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>


    <link name="LEFT_HIP_Z_LINK">
        <inertial>
            <mass value="0.77281362"/>
            <origin rpy="0 0 0" xyz="0.04549595	-0.00525571	-0.00937454"/>
            <inertia ixx="0.00317639" ixy="0.00005807" ixz="0.00080598" iyy="0.00345182" iyz="0.00047441" izz="0.00313245"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//LeftHipYawLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>
    <link name="LEFT_THIGH">
        <inertial>
            <mass value="7.75"/><!-- CAD Mass 6.31087157 (Hacked April 1 2025 to match IRL Scale of whole robot) -->
            <origin rpy="0 0 0" xyz="0.01417302	0.03268781	-0.10548314"/>
            <inertia ixx="0.09264028" ixy="0.00038532" ixz="0.00916409" iyy="0.09733033" iyz="-0.0043516" izz="0.02803877"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//LeftThigh.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>
    <link name="LEFT_SHIN">
        <inertial>
            <mass value="5.5"/><!-- CAD Mass 6.31087157 (Hacked April 1 2025 to match IRL Scale of whole robot) -->
            <origin rpy="0 0 0" xyz="0.03807965	-0.00108105	-0.12410027"/>
            <inertia ixx="0.08823148" ixy="-0.00054706" ixz="-0.00634132" iyy="0.09163264" iyz="0.00002714" izz="0.01569601"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//LeftShin.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>

    <!-- LeftThighIMU-->
	<link name="LEFT_THIGH_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="LEFT_THIGH_IMU_JOINT" type="fixed">
		<origin rpy="1.6947717585 0 1.570796" xyz="0.10004 0.03746 -0.21194"/>
		<axis xyz="0 0 1"/>
		<parent link="LEFT_THIGH"/>
		<child link="LEFT_THIGH_IMU_LINK"/>
	</joint>
	<gazebo reference="LEFT_THIGH_IMU_LINK">
		<sensor name="left_thigh_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>

    <!-- LeftShinIMU-->
	<link name="LEFT_SHIN_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="LEFT_SHIN_IMU_JOINT" type="fixed">
		<origin rpy="1.403695170631842 0 -1.570796" xyz="0.05655120 0.00084826 -0.15664831"/>
		<axis xyz="0 0 1"/>
		<parent link="LEFT_SHIN"/>
		<child link="LEFT_SHIN_IMU_LINK"/>
	</joint>
	<gazebo reference="LEFT_SHIN_IMU_LINK">
		<sensor name="left_shin_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>


    <link name="LEFT_ANKLE_Y_LINK">
        <inertial>
            <mass value="0.05045632"/>
            <origin rpy="0 0 0" xyz="2.94E-07	2.22E-07	-0.00462997"/>
            <inertia ixx="0.00001733" ixy="2.12E-10" ixz="-1.26E-10" iyy="0.00000714" iyz="-2.02E-11" izz="0.00001851"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//AnklePitchLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>
    <link name="LEFT_FOOT">
        <inertial>
            <mass value="1.28288609"/>
            <origin rpy="0 0 0" xyz="0.03793372	-0.00000219	-0.0443663"/>
            <inertia ixx="0.00131328" ixy="0.00001057" ixz="0.00036242" iyy="0.00385286" iyz="-0.0000069" izz="0.00406301"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//Foot.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>

    <!-- LeftFootIMU-->
	<link name="LEFT_FOOT_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="LEFT_FOOT_IMU_JOINT" type="fixed">
		<origin rpy="0 0 1.570796" xyz="-0.03575526 0.01180178 -0.04979705"/>
		<axis xyz="0 0 1"/>
		<parent link="LEFT_FOOT"/>
		<child link="LEFT_FOOT_IMU_LINK"/>
	</joint>
	<gazebo reference="LEFT_FOOT_IMU_LINK">
		<sensor name="left_foot_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>


    <!-- RIGHT LEG LINKS -->
    <link name="RIGHT_HIP_X_LINK">
        <inertial>
            <mass value="2.32977248"/>
            <origin rpy="0 0 0" xyz="0.04351957	-0.08688935	-0.03525357"/>
            <inertia ixx="0.00467576" ixy="0.00061004" ixz="0.00013038" iyy="0.00516385" iyz="-0.00047381" izz="0.00552901"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//RightHipRollLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

    <!-- RightHipRollIMU-->
	<link name="RIGHT_HIP_X_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="RIGHT_HIP_ROLL_IMU_JOINT" type="fixed">
		<origin rpy="-1.570796 0 1.570796" xyz="-0.01922309 -0.07694987 -0.01488788"/>
		<axis xyz="0 0 1"/>
		<parent link="RIGHT_HIP_X_LINK"/>
		<child link="RIGHT_HIP_X_IMU_LINK"/>
	</joint>
	<gazebo reference="RIGHT_HIP_X_IMU_LINK">
		<sensor name="right_hip_x_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>

    <link name="RIGHT_HIP_Z_LINK">
        <inertial>
            <mass value="0.77281055"/>
            <origin rpy="0 0 0" xyz="0.04549274	0.00525784	-0.00937505"/>
            <inertia ixx="0.00317639" ixy="-0.00005765" ixz="0.00080587" iyy="0.00345166" iyz="-0.00047466" izz="0.00313223"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//RightHipYawLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>
    <link name="RIGHT_THIGH">
        <inertial>
            <mass value="7.75"/><!-- CAD Mass 6.31087157 (Hacked April 1 2025 to match IRL Scale of whole robot) -->
            <origin rpy="0 0 0" xyz="0.01411846	-0.03282392	-0.10542795"/>
            <inertia ixx="0.09273162" ixy="-0.00026689" ixz="0.00921343" iyy="0.09738701" iyz="0.00422485" izz="0.02802165"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//RightThigh.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>

    <!-- RightThighIMU-->
	<link name="RIGHT_THIGH_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="RIGHT_THIGH_IMU_JOINT" type="fixed">
		<origin rpy="1.6947717585 0 1.570796" xyz="0.10003618 -0.033541826 -0.21194191"/>
		<axis xyz="0 0 1"/>
		<parent link="RIGHT_THIGH"/>
		<child link="RIGHT_THIGH_IMU_LINK"/>
	</joint>
	<gazebo reference="RIGHT_THIGH_IMU_LINK">
		<sensor name="right_thigh_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>

    <link name="RIGHT_SHIN">
        <inertial>
            <mass value="5.5"/><!-- CAD Mass 6.31087157 (Hacked April 1 2025 to match IRL Scale of whole robot) -->
            <origin rpy="0 0 0" xyz="0.03807648	0.00113375	-0.12408765"/>
            <inertia ixx="0.08705693" ixy="0.00057277" ixz="-0.00674654" iyy="0.090231" iyz="0.00028332" izz="0.01554032"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//RightShin.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>

    <!-- RightShinIMU-->
	<link name="RIGHT_SHIN_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="RIGHT_SHIN_IMU_JOINT" type="fixed">
		<origin rpy="1.403695170631842 0 -1.570796" xyz="0.05673025 -0.00875818 -0.15674961"/>
		<axis xyz="0 0 1"/>
		<parent link="RIGHT_SHIN"/>
		<child link="RIGHT_SHIN_IMU_LINK"/>
	</joint>
	<gazebo reference="RIGHT_SHIN_IMU_LINK">
		<sensor name="right_shin_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>


    <link name="RIGHT_ANKLE_Y_LINK">
        <inertial>
            <mass value="0.05045632"/>
            <origin rpy="0 0 0" xyz="2.94E-07	2.22E-07	-0.00462997"/>
            <inertia ixx="0.00001733" ixy="2.12E-10" ixz="-1.26E-10" iyy="0.00000714" iyz="-2.02E-11" izz="0.00001851"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//AnklePitchLink.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>
    <link name="RIGHT_FOOT">
        <inertial>
            <mass value="1.28288609"/>
            <origin rpy="0 0 0" xyz="0.03793372	-0.00000219	-0.0443663"/>
            <inertia ixx="0.00131328" ixy="0.00001057" ixz="0.00036242" iyy="0.00385286" iyz="-0.0000069" izz="0.00406301"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/legs//Foot.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
        </visual>
    </link>

    <!-- RightFootIMU-->
	<link name="RIGHT_FOOT_IMU_LINK">
		<inertial>
			<mass value="0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
		</inertial>
	</link>
	<joint name="RIGHT_FOOT_IMU_JOINT" type="fixed">
		<origin rpy="0 0 1.570796" xyz="-0.03575526 0.01180178 -0.04979705"/>
		<axis xyz="0 0 1"/>
		<parent link="RIGHT_FOOT"/>
		<child link="RIGHT_FOOT_IMU_LINK"/>
	</joint>
	<gazebo reference="RIGHT_FOOT_IMU_LINK">
		<sensor name="right_foot_imu" type="imu">
			<always_on>true</always_on>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0</mean>
						<stddev>0.0002</stddev>
						<bias_mean>7.5e-06</bias_mean>
						<bias_stddev>8e-07</bias_stddev>
					</rate>
					<accel>
						<mean>0</mean>
						<stddev>0.017</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</sensor>
	</gazebo>


    <!-- SPINE LINKS -->
    <link name="TORSO_LINK">
        <inertial>
            <mass value="4.208"/> <!-- This probably needs to be updated  -->
            <origin rpy="0 0 0" xyz="-0.034 0.0 0.297"/>
            <inertia ixx="0.077" ixy="9.64E-06" ixz="0.008" iyy="0.068" iyz="7.24E-06" izz="0.033"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://alexander_v0/meshes/torso.obj"/>
            </geometry>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </visual>
    </link>

     <!-- TORSO IMU --> <!-- TODO (CD): This is a placeholder taken from Nadia to give Alexander a non-empty sensor information -->
        <joint name="TORSO_IMU_JOINT" type="fixed">
            <parent link="TORSO_LINK"/>
            <child link="TORSO_IMU_LINK"/>
            <origin xyz="0.04529 -0.02427 0.33757" rpy="3.141592 0 0"/>
        </joint>
        <link name="TORSO_IMU_LINK">
            <inertial>
                <mass value="0.0" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
            </inertial>
        </link>
        <gazebo reference="TORSO_IMU_LINK">
            <sensor name="torso_imu" type="imu">
                <always_on>1</always_on>
                <update_rate>1000.0</update_rate>
                <imu>
                    <noise>
                        <type>gaussian</type>
                        <rate>
                            <mean>0.0</mean>
                            <stddev>2e-4</stddev>
                            <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </rate>
                        <accel>
                            <mean>0.0</mean>
                            <stddev>1.7e-2</stddev>
                            <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </accel>
                    </noise>
                </imu>
            </sensor>
        </gazebo>
        <!-- END TORSO IMU -->

        <!-- NECK & HEAD LINKS -->
        <joint name="NECK_Z" type="revolute">
            <origin rpy="0 0 0" xyz="0 0 0.307953"/> <!-- placeholder for the joint location -->
            <axis xyz="0 0 1"/>
            <parent link="TORSO_LINK"/>
            <child link="NECK_Z_LINK"/>
            <limit effort="20" lower="-1.5708" upper="1.5708" velocity="20"/>
            <dynamics damping="0.05" friction="0.0"/>
        </joint>
        <joint name="NECK_Y" type="revolute">
            <origin rpy="0 0 0" xyz="0.025 0.01 0.207252"/>
            <axis xyz="0 1 0"/>
            <parent link="NECK_Z_LINK"/>
            <child link="HEAD_LINK"/>
            <limit effort="20" lower="-1.0472" upper="1.0472" velocity="20"/>
            <dynamics damping="0.05" friction="0.0"/>
        </joint>-->

        <!-- NECK & HEAD LINKS -->

       <link name="NECK_Z_LINK">
            <inertial>
                <mass value="1.141"/>
                <origin rpy="0 0 0" xyz="0.007143 0.006943 0.109823"/>
                <inertia ixx="0.007475898" ixy="-0.000075723" ixz="-0.000745362" iyy="0.007407578" iyz="-0.000436948" izz="0.00109269"/>
            </inertial>
            <visual>
                <geometry>
                    <cylinder radius="0.05" length="0.1"/>
                </geometry>
                <material name="gray">
                    <color rgba="0.5 0.5 0.5 1.0"/>
                </material>
                <origin rpy="0.0 0.0 0.0" xyz="0 0 0.0"/>
            </visual>
        </link>
        <link name="HEAD_LINK">
            <inertial>
                <mass value="1.677"/>
                <origin rpy="0 0 0" xyz="0.03237 -0.013568 0.007163"/>
                <inertia ixx="0.006026191" ixy="-0.000197484" ixz="0.001813659" iyy="0.008182071" iyz="-0.000042529" izz="0.00644909"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://alexander_v0/meshes/ALX02_01_A02_HeadLink.obj"/>
                </geometry>
                <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            </visual>
        </link>-

</robot>
