 <robot xmlns:xacro="http://ros.org/wiki/xacro" name="forearm_api">

    <xacro:property name="ForearmYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="ThumbFingerApi" value="midas_finger_interface/MidasFingerAPI" />
    <xacro:property name="IndexFingerApi" value="midas_finger_interface/MidasFingerAPI"/>
    <xacro:property name="MiddleFingerApi" value="midas_finger_interface/MidasFingerAPI"/>
    <xacro:property name="PinkyApi" value="midas_finger_interface/MidasFingerAPI"/>

    <xacro:property name="Athena1Api" value="athena_forearm_interface/AthenaForearmAPI" />
    <xacro:property name="Athena2Api" value="athena_finger_interface/AthenaFingerAPI" />

    
</robot>
