<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb/dh_parameters">

  <xacro:property name="ThumbRollFrameOrigin_X" value="0.0049"/>
  <xacro:property name="ThumbRollFrameOrigin_Y" value="${reflect * 0.0351}"/>
  <xacro:property name="ThumbRollFrameOrigin_Z" value="0.0228"/>

  <xacro:property name="ThumbRollFrameOrientation_Roll" value="${reflect * -0.3491}"/>
  <xacro:property name="ThumbRollFrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="ThumbRollFrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="ThumbPitch1FrameOrigin_X" value="0.0"/>
  <xacro:property name="ThumbPitch1FrameOrigin_Y" value="0.0"/>
  <xacro:property name="ThumbPitch1FrameOrigin_Z" value="0.0229"/>

  <xacro:property name="ThumbPitch1FrameOrientation_Roll" value="${reflect * 0.3491}"/>
  <xacro:property name="ThumbPitch1FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="ThumbPitch1FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="ThumbPitch2FrameOrigin_X" value="0.0"/>
  <xacro:property name="ThumbPitch2FrameOrigin_Y" value="${reflect * 0.0066}"/>
  <xacro:property name="ThumbPitch2FrameOrigin_Z" value="0.0375"/>

  <xacro:property name="ThumbPitch2FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="ThumbPitch2FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="ThumbPitch2FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="ThumbPitch3FrameOrigin_X" value="0.0"/>
  <xacro:property name="ThumbPitch3FrameOrigin_Y" value="${reflect * 0.0049}"/>
  <xacro:property name="ThumbPitch3FrameOrigin_Z" value="0.0275"/>

  <xacro:property name="ThumbPitch3FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="ThumbPitch3FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="ThumbPitch3FrameOrientation_Yaw" value="0.0"/>

</robot>