<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb/dh_parameters">
  
  <xacro:property name="ThumbRollParentLinkName" value="${thumb_root_link}" />
  <xacro:property name="ThumbRollLinkName" value="${prefix}ThumbRollLink" />
  <xacro:property name="ThumbPitch1LinkName" value="${prefix}ThumbPitch1Link" />
  <xacro:property name="ThumbPitch2LinkName" value="${prefix}ThumbPitch2Link" />
  <xacro:property name="ThumbPitch3LinkName" value="${prefix}ThumbPitch3Link" />
  
</robot>