<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leg_link_names">
  
  <xacro:property name="HipYawParentLinkName" value="${leg_root_link}" />
  <xacro:property name="HipYawLinkName" value="${prefix}HipYawLink" />
  <xacro:property name="HipRollLinkName" value="${prefix}HipRollLink" />
  <xacro:property name="HipPitchLinkName" value="${prefix}HipPitchLink" />
  <xacro:property name="KneePitchLinkName" value="${prefix}KneePitchLink" />
  <xacro:property name="AnklePitchLinkName" value="${prefix}AnklePitchLink" />
  <xacro:property name="AnkleRollLinkName" value="${prefix}Foot" />

</robot>