<launch>

    <node pkg="nodelet" type="nodelet" name="eth_pcl_manager" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="pelvis_to_world_z_clip_passthrough_z" args="load pcl/PassThrough pcl_manager" output="screen">
        <remap from="~input" to="/lidar_to_point_cloud_transformer/assembled_lidar_point_cloud" />
        <remap from="~output" to="/lidar_to_point_cloud_transformer/assembled_lidar_point_cloud_z_clipped" />
        <rosparam>
          filter_field_name: z
          filter_limit_min: -.inf 
          filter_limit_max: 1.6
          input_frame: pelvis
          output_frame: head
        </rosparam>
     </node>
     
    <node name="mapper_humanoid" type="mapper_humanoid" pkg="ethzasl_icp_mapper_humanoid" output="screen">
        <remap from="/icp_correction" to="/ihmc_ros/localization/pelvis_pose_correction" />
        <remap from="cloud_in" to="/lidar_to_point_cloud_transformer/assembled_lidar_point_cloud_z_clipped" />
        <param name="subscribe_scan" value="false" />
        <param name="icpConfig" value="$(find ethzasl_icp_mapper_humanoid)/parameters/standard/icp.yaml" />
        <param name="inputFiltersConfig" value="$(find ethzasl_icp_mapper_humanoid)/parameters/standard/input_filters.yaml" />
        <param name="mapPostFiltersConfig" value="$(find ethzasl_icp_mapper_humanoid)/parameters/standard/map_post_filters.yaml" />
        <param name="odom_frame" value="/world" />
        <param name="map_frame" value="/world_icp" />
        <param name="icp_correction_frame" value="/pelvis" />
        <param name="publish_tf_correction" value="true" />
        <param name="useROSLogger" value="true" />
        <param name="minOverlap" value="0.5" /> 
        <param name="maxOverlapToMerge" value="0.9" /> 
        <param name="minReadingPointCount" value="1000" /> 
        <param name="minMapPointCount" value="1000" /> 
        <param name="localizing" value="false" /> 
        <param name="mapping" value="false" />
        <param name="inputQueueSize" value="0" />
    </node>
    
    <node pkg="nodelet" type="nodelet" name="point_map_no_ground" args="load pcl/PassThrough eth_pcl_manager" output="screen">
        <remap from="~input" to="/point_map" />
        <remap from="~output" to="/point_map_no_ground" />
        <rosparam>
          filter_field_name: z
          filter_limit_min: 0.05  
          filter_limit_max: +.inf
          input_frame: world
          output_frame: world
        </rosparam>
     </node>
  
  <node pkg="nodelet" type="nodelet" name="voxel_grid_z" args="load pcl/VoxelGrid eth_pcl_manager" output="screen">
    <remap from="~input" to="/point_map_no_ground" />
    <remap from="~output" to="/point_map_filtered_z" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.02
      filter_limit_max: +.inf
      leaf_size: 0.05
    </rosparam>
  </node>
    
</launch>
