<robot xmlns:xacro="http://ros.org/wiki/xacro" name="test_bench_template">

	<xacro:include filename="$(find val_description)/common/xacro/serial_numbers/test_bench_serials.xacro" />
	<xacro:include filename="$(find val_description)/common/xacro/nodes/test_bench_nodes.xacro" />
	<xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>

	<RobotInstance id="testbench" />

	<Channels>
	</Channels>

	<Mechanisms>
		<xacro:simple_mechanism name="testbench_actuator" serial_number="${testbench_serial_number}" node="${testbench_node}"/>
	</Mechanisms>

	<Devices>
	</Devices>
    
</robot>