<?xml version="1.0"?>
<model>
  <name>Test Anondized Aluminum Box</name>
  <version>.0</version>
  <sdf version='1.4'>Anondized_Aluminum_Box.sdf</sdf>

  <author>
   <name>Joshua Love</name>
   <email>jalove@sandia.gov</email>
  </author>

  <description>
    A simple box.
  </description>
</model>

