<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_api">

	<xacro:property name="HipYawApi" value="TurboDriverDRC_v4" />
	<xacro:property name="HipRollApi" value="TurboDriverDRC_v4" />
	<xacro:property name="HipPitchApi" value="TurboDriverDRC_v4" />
	<xacro:property name="KneePitchApi" value="TurboDriverDRC_v4" />
	<xacro:property name="AnkleInsideActuatorApi" value="TurboDriverDRC_v4_linear" />
	<xacro:property name="AnkleOutsideActuatorApi" value="TurboDriverDRC_v4_linear" />

	<xacro:property name="ShoulderPitchApi" value="TurboDriverDRC_v4" />
	<xacro:property name="ShoulderRollApi" value="TurboDriverDRC_v4" />
	<xacro:property name="ShoulderYawApi" value="TurboDriverDRC_v4" />
	<xacro:property name="ElbowPitchApi" value="TurboDriverDRC_v4" />
	<xacro:property name="ForearmYawApi" value="TurboDriverDRC_v4" />
	<xacro:property name="WristTopActuatorApi" value="TurboDriverDRC_v4_linear" />
	<xacro:property name="WristBottomActuatorApi" value="TurboDriverDRC_v4_linear" />

	<xacro:property name="LowerNeckPitchApi" value="TurboDriverDRC_v4" />
	<xacro:property name="NeckYawApi" value="TurboDriverDRC_v4" />
	<xacro:property name="UpperNeckPitchApi" value="TurboDriverDRC_v4" />

	<xacro:property name="TrunkYawApi" value="TurboDriverDRC_v4" />
	<xacro:property name="WaistLeftActuatorApi" value="TurboDriverDRC_v4_linear" />
	<xacro:property name="WaistRightActuatorApi" value="TurboDriverDRC_v4_linear" />

	<xacro:property name="SimApi" value="TurboDriverDRC_v4" />

    
</robot>