<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_A_sim_pinned">

    <xacro:property name="mesh_root" value="model://val_description/model/meshes"/>
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/generic_models.xacro" />
    <xacro:include filename="$(find val_description)/model/materials/materials.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/common_bodies.xacro" />
    <xacro:include filename="$(find val_description)/model/robots/common/xacro/valkyrie_base_sim.xacro"/>
    <xacro:include filename="$(find val_description)/model/urdf/multisense_sl_remote.urdf" />
    <xacro:include filename="$(find val_description)/common/xacro/serial_numbers/valkyrie_A_serials.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/dev_ports/valkyrie_gazebo_ports.xacro"/>

    <link name="world"/>

    <joint name="fixed" type="fixed">
    	<parent link="world"/>
    	<child link="${Pelvis_Link_Name}"/>
  	</joint>

</robot>