<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="torso_joint_rotation_axes">

<xacro:property name="ShoulderPitchRotationAxis" value="0 1 0"/>
<xacro:property name="ShoulderRollRotationAxis" value="1 0 0"/>
<xacro:property name="ShoulderYawRotationAxis" value="0 1 0"/>
<xacro:property name="ElbowPitchRotationAxis" value="0 0 1"/>
<xacro:property name="ForearmYawRotationAxis" value="0 1 0"/>
<xacro:property name="WristRollRotationAxis" value="1 0 0"/>
<xacro:property name="WristPitchRotationAxis" value="0 0 1"/>

</robot>