<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ati_force_torque_sensor">
  <xacro:macro name="ati_force_torque_sensor" params="sensorName parentLink origin_xyz origin_rpy">
	
	<xacro:massless_virtual_link name="${sensorName}_Frame" 
                    origin_rpy="0 0 0" 
                    origin_xyz="0 0 0"/>

    <xacro:fixed_joint jointName="${sensorName}_Offset"
                       parent="${parentLink}" child="${sensorName}_Frame"
                       origin_rpy="${origin_rpy}"
                       origin_xyz="${origin_xyz}"/>
             
    <gazebo reference="${sensorName}_Offset">          	
      <sensor name="${sensorName}" type="force_torque">
        <frame>child</frame>  
    	</sensor>
    </gazebo>

    
  </xacro:macro>
</robot>