<launch>
    <param name="robot_description" textfile="$(find val_description)/model/urdf/valkyrie_A_sim.urdf"/>

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- Show in Rviz   -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rrbot_description)/launch/rrbot.rviz"/> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find val_description)/launch/val_rviz.rviz"/>

</launch>