<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/common/xacro/actuator_names/valkyrie_actuator_names.xacro"/>
  <xacro:include filename="$(find val_description)/common/xacro/nodes/valkyrie_nodes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/arm/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/arm/link_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/arm/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/arm/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/arm/mass_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/gains.xacro"/>

  <xacro:macro name="make_upper_arm" params="prefix reflect upper_arm_root_link">

    <xacro:standard_link name="${ShoulderPitchLinkName}"
                    mass="${ShoulderPitchLinkMass}"
                    origin_xyz="${ShoulderPitchLinkComPosition}" origin_rpy="0 0 0"
                    ixx="${ShoulderPitchLinkInertia_IXX}" ixy="${ShoulderPitchLinkInertia_IXY}" ixz="${ShoulderPitchLinkInertia_IXZ}"
                    iyy="${ShoulderPitchLinkInertia_IYY}" iyz="${ShoulderPitchLinkInertia_IYZ}" izz="${ShoulderPitchLinkInertia_IZZ}"
                    visual_mesh="${mesh_root}/arms/aj1_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj1_${prefix}.dae" />

    <xacro:standard_link name="${ShoulderRollLinkName}"
                    mass="${ShoulderRollLinkMass}"
                    origin_xyz="${ShoulderRollLinkComPosition}" 
                    ixx="${ShoulderRollLinkInertia_IXX}" ixy="${ShoulderRollLinkInertia_IXY}" ixz="${ShoulderRollLinkInertia_IXZ}"
                    iyy="${ShoulderRollLinkInertia_IYY}" iyz="${ShoulderRollLinkInertia_IYZ}" izz="${ShoulderRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/aj2_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj2_${prefix}.dae" />

    <xacro:standard_link name="${ShoulderYawLinkName}"
                    mass="${ShoulderYawLinkMass}"
                    origin_xyz="${ShoulderYawLinkComPosition}" 
                    ixx="${ShoulderYawLinkInertia_IXX}" ixy="${ShoulderYawLinkInertia_IXY}" ixz="${ShoulderYawLinkInertia_IXZ}"
                    iyy="${ShoulderYawLinkInertia_IYY}" iyz="${ShoulderYawLinkInertia_IYZ}" izz="${ShoulderYawLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/aj3_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj3_${prefix}.dae" />

    <xacro:standard_link name="${ElbowPitchLinkName}"
                    mass="${ElbowPitchLinkMass}"
                    origin_xyz="${ElbowPitchLinkComPosition}"
                    ixx="${ElbowPitchLinkInertia_IXX}" ixy="${ElbowPitchLinkInertia_IXY}" ixz="${ElbowPitchLinkInertia_IXZ}"
                    iyy="${ElbowPitchLinkInertia_IYY}" iyz="${ElbowPitchLinkInertia_IYZ}" izz="${ElbowPitchLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/aj4_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj4_${prefix}.dae" />

    <xacro:revolute_joint_ex jointName="${ShoulderPitchJointName}"
                          parent="${upper_arm_root_link}" child="${ShoulderPitchLinkName}"
                          origin_xyz="${ShoulderPitchFrameOrigin_X} ${ShoulderPitchFrameOrigin_Y} ${ShoulderPitchFrameOrigin_Z}"
                          origin_rpy="${ShoulderPitchFrameOrientation_Roll} ${ShoulderPitchFrameOrientation_Pitch} ${ShoulderPitchFrameOrientation_Yaw}" 
                          axis="${ShoulderPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderPitchTorqueLimit}" lower="${ShoulderPitchPositionLimit_Lower}" upper="${ShoulderPitchPositionLimit_Upper}" velocity="${ShoulderPitchVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${ShoulderRollJointName}"
                          parent="${ShoulderPitchLinkName}" child="${ShoulderRollLinkName}"
                          origin_xyz="${ShoulderRollFrameOrigin_X} ${ShoulderRollFrameOrigin_Y} ${ShoulderRollFrameOrigin_Z}"
                          origin_rpy="${ShoulderRollFrameOrientation_Roll} ${ShoulderRollFrameOrientation_Pitch} ${ShoulderRollFrameOrientation_Yaw}" 
                          axis="${ShoulderRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${ShoulderRollPositionLimit_Lower}" upper="${ShoulderRollPositionLimit_Upper}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ShoulderRollTorqueLimit}" lower="${reflect * ShoulderRollPositionLimit_Upper}" upper="${reflect * ShoulderRollPositionLimit_Lower}" velocity="${ShoulderRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${ShoulderYawJointName}"
                          parent="${ShoulderRollLinkName}" child="${ShoulderYawLinkName}"
                          origin_xyz="${ShoulderYawFrameOrigin_X} ${ShoulderYawFrameOrigin_Y} ${ShoulderYawFrameOrigin_Z}"
                          origin_rpy="${ShoulderYawFrameOrientation_Roll} ${ShoulderYawFrameOrientation_Pitch} ${ShoulderYawFrameOrientation_Yaw}" 
                          axis="${ShoulderYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ShoulderYawTorqueLimit}" lower="${ShoulderYawPositionLimit_Lower}" upper="${ShoulderYawPositionLimit_Upper}" velocity="${ShoulderYawVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${ElbowPitchJointName}"
                          parent="${ShoulderYawLinkName}" child="${ElbowPitchLinkName}"
                          origin_xyz="${ElbowPitchFrameOrigin_X} ${ElbowPitchFrameOrigin_Y} ${ElbowPitchFrameOrigin_Z}"
                          origin_rpy="${ElbowPitchFrameOrientation_Roll} ${ElbowPitchFrameOrientation_Pitch} ${ElbowPitchFrameOrientation_Yaw}" 
                          axis="${ElbowPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${ElbowPitchPositionLimit_Lower}" upper="${ElbowPitchPositionLimit_Upper}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${ElbowPitchTorqueLimit}" lower="${reflect * ElbowPitchPositionLimit_Upper}" upper="${reflect * ElbowPitchPositionLimit_Lower}" velocity="${ElbowPitchVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="0.0" Kd="0.0" Ki="0.0"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>


  <xacro:macro name="make_lower_arm" params="prefix reflect lower_arm_root_link">
    <xacro:standard_link name="${ForearmLinkName}"
                    mass="${ForearmYawLinkMass}"
                    origin_xyz="${ForearmYawLinkComPosition}"
                    ixx="${ForearmYawLinkInertia_IXX}" ixy="${ForearmYawLinkInertia_IXY}" ixz="${ForearmYawLinkInertia_IXZ}"
                    iyy="${ForearmYawLinkInertia_IYY}" iyz="${ForearmYawLinkInertia_IYZ}" izz="${ForearmYawLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/aj5_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj5_${prefix}.dae" />

    <xacro:standard_link name="${WristRollLinkName}"
                    mass="${WristRollLinkMass}"
                    origin_xyz="${WristRollLinkComPosition}"
                    ixx="${WristRollLinkInertia_IXX}" ixy="${WristRollLinkInertia_IXY}" ixz="${WristRollLinkInertia_IXZ}"
                    iyy="${WristRollLinkInertia_IYY}" iyz="${WristRollLinkInertia_IYZ}" izz="${WristRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/aj6_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/aj6_${prefix}.dae" />

    <xacro:standard_link name="${WristPitchLinkName}"
                    mass="${PalmMass}"
                    origin_xyz="${PalmComPosition}"
                    ixx="${PalmInertia_IXX}" ixy="${PalmInertia_IXY}" ixz="${PalmInertia_IXZ}"
                    iyy="${PalmInertia_IYY}" iyz="${PalmInertia_IYZ}" izz="${PalmInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/arms/palm_${prefix}.dae"
                    collision_mesh="${mesh_root}/arms/palm_${prefix}.dae"/>

    <xacro:revolute_joint_ex jointName="${ForearmYawJointName}"
                          parent="${lower_arm_root_link}" child="${ForearmLinkName}"
                          origin_xyz="${ForearmYawFrameOrigin_X} ${ForearmYawFrameOrigin_Y} ${ForearmYawFrameOrigin_Z}"
                          origin_rpy="${ForearmYawFrameOrientation_Roll} ${ForearmYawFrameOrientation_Pitch} ${ForearmYawFrameOrientation_Yaw}" 
                          axis="${ForearmYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${ForearmYawTorqueLimit}" lower="${ForearmYawPositionLimit_Lower}" upper="${ForearmYawPositionLimit_Upper}" velocity="${ForearmYawVelocityLimit}"/>
        <controller_gains Kp="0.0" Kd="0" Ki="0.0"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${WristRollJointName}"
                          parent="${ForearmLinkName}" child="${WristRollLinkName}"
                          origin_xyz="${WristRollFrameOrigin_X} ${WristRollFrameOrigin_Y} ${WristRollFrameOrigin_Z}"
                          origin_rpy="${WristRollFrameOrientation_Roll} ${WristRollFrameOrientation_Pitch} ${WristRollFrameOrientation_Yaw}" 
                          axis="${WristRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${WristRollPositionLimit_Lower}" upper="${WristRollPositionLimit_Upper}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${reflect * WristRollPositionLimit_Upper}" upper="${reflect * WristRollPositionLimit_Lower}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${WristRollKp}" Kd="${WristRollKd}" Ki="${WristRollKi}"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${WristPitchJointName}"
                          parent="${WristRollLinkName}" child="${WristPitchLinkName}"
                          origin_xyz="${WristPitchFrameOrigin_X} ${WristPitchFrameOrigin_Y} ${WristPitchFrameOrigin_Z}"
                          origin_rpy="${WristPitchFrameOrientation_Roll} ${WristPitchFrameOrientation_Pitch} ${WristPitchFrameOrientation_Yaw}" 
                          axis="${WristPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <xacro:if value="${(reflect+1)/2}">
        <limit effort="${WristPitchTorqueLimit}" lower="${WristPitchPositionLimit_Lower}" upper="${WristPitchPositionLimit_Upper}" velocity="${WristPitchVelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
        <limit effort="${WristRollTorqueLimit}" lower="${reflect * WristPitchPositionLimit_Upper}" upper="${reflect * WristPitchPositionLimit_Lower}" velocity="${WristRollVelocityLimit}"/>
        </xacro:if>
        <controller_gains Kp="${WristPitchKp}" Kd="${WristPitchKd}" Ki="${WristPitchKi}"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>

  <xacro:macro name="make_arm" params="prefix reflect arm_root_link">
    <xacro:make_upper_arm prefix="${prefix}" reflect="${reflect}" upper_arm_root_link="${arm_root_link}" />
    <xacro:make_lower_arm prefix="${prefix}" reflect="${reflect}" lower_arm_root_link="${ElbowPitchLinkName}" />
  </xacro:macro>

  <xacro:macro name="make_arm_no_hands" params="prefix reflect arm_root_link">
    <xacro:make_upper_arm prefix="${prefix}" reflect="${reflect}" upper_arm_root_link="${arm_root_link}" />
  </xacro:macro>

  <xacro:macro name="arm_transmissions_hw" params="prefix reflect">
    <xacro:simple_transmission jointName="${ShoulderPitchJointName}" actuatorName="${ShoulderPitchActuatorName}" nodeName="${ShoulderPitchNode}" actuatorApi="${ShoulderPitchApi}"/>
    <xacro:simple_transmission jointName="${ShoulderRollJointName}" actuatorName="${ShoulderRollActuatorName}" nodeName="${ShoulderRollNode}" actuatorApi="${ShoulderRollApi}"/>
    <xacro:simple_transmission jointName="${ShoulderYawJointName}" actuatorName="${ShoulderYawActuatorName}" nodeName="${ShoulderYawNode}" actuatorApi="${ShoulderYawApi}"/>
    <xacro:simple_transmission jointName="${ElbowPitchJointName}" actuatorName="${ElbowPitchActuatorName}" nodeName="${ElbowPitchNode}" actuatorApi="${ElbowPitchApi}"/> 
    <xacro:simple_forearm_position_transmission jointName="${ForearmYawActuatorName}" actuatorName="${ForearmYawActuatorName}" nodeName="${ForearmYawNode}" actuatorApi="${ForearmYawApi}" reflect="${reflect}"/> 
    <xacro:athena1_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena1Transmission" actuatorApi="${Athena1Api}" nodeName="${Athena1Node}"/>
    <xacro:athena2_transmission prefix="${prefix}" transmissionName="${prefix}ArmAthena2Transmission" actuatorApi="${Athena2Api}" nodeName="${Athena2Node}"/>
  </xacro:macro>

  <xacro:macro name="arm_transmissions_no_hands" params="prefix">
    <xacro:simple_transmission jointName="${ShoulderPitchJointName}" actuatorName="${ShoulderPitchActuatorName}" nodeName="${ShoulderPitchNode}" actuatorApi="${ShoulderPitchApi}"/>
    <xacro:simple_transmission jointName="${ShoulderRollJointName}" actuatorName="${ShoulderRollActuatorName}" nodeName="${ShoulderRollNode}" actuatorApi="${ShoulderRollApi}"/>
    <xacro:simple_transmission jointName="${ShoulderYawJointName}" actuatorName="${ShoulderYawActuatorName}" nodeName="${ShoulderYawNode}" actuatorApi="${ShoulderYawApi}"/>
    <xacro:simple_transmission jointName="${ElbowPitchJointName}" actuatorName="${ElbowPitchActuatorName}" nodeName="${ElbowPitchNode}" actuatorApi="${ElbowPitchApi}"/> 
  </xacro:macro>

  <xacro:macro name="arm_transmissions_sim" params="prefix">
    <xacro:simple_transmission jointName="${ShoulderPitchJointName}" actuatorName="${ShoulderPitchActuatorName}" nodeName="${ShoulderPitchNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${ShoulderRollJointName}" actuatorName="${ShoulderRollActuatorName}" nodeName="${ShoulderRollNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${ShoulderYawJointName}" actuatorName="${ShoulderYawActuatorName}" nodeName="${ShoulderYawNode}" actuatorApi="${SimApi}"/>
    <xacro:simple_transmission jointName="${ElbowPitchJointName}" actuatorName="${ElbowPitchActuatorName}" nodeName="${ElbowPitchNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_position_transmission jointName="${ForearmYawActuatorName}" actuatorName="${ForearmYawActuatorName}" nodeName="${ForearmYawNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_position_transmission jointName="${WristRollJointName}" actuatorName="${WristRollActuatorSimName}" nodeName="${WristRollActuatorSimNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_position_transmission jointName="${WristPitchJointName}" actuatorName="${WristPitchActuatorSimName}" nodeName="${WristPitchActuatorSimNode}" actuatorApi="${SimApi}"/> 
  </xacro:macro>

</robot>
