<?xml version="1.0" ?>
<robot name="valkyrie_joint_names" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="TorsoYawActuatorName" value="torsoYaw"/>
	<xacro:property name="WaistLeftActuatorName" value="waistLeftActuator"/>
	<xacro:property name="WaistRightActuatorName" value="waistRightActuator"/>
	<xacro:property name="WaistPitchActuatorSimName" value="waistPitchActuator"/>
	<xacro:property name="WaistRollActuatorSimName" value="waistRollActuator"/>
	<xacro:property name="HipYawActuatorName" value="${prefix}HipYaw"/>
	<xacro:property name="HipRollActuatorName" value="${prefix}HipRoll"/>
	<xacro:property name="HipPitchActuatorName" value="${prefix}HipPitch"/>
	<xacro:property name="KneePitchActuatorName" value="${prefix}KneePitch"/>
	<xacro:property name="AnkleRightActuatorName" value="${prefix}AnkleRightActuator"/>
	<xacro:property name="AnkleLeftActuatorName" value="${prefix}AnkleLeftActuator"/>
	<xacro:property name="AnkleRollActuatorSimName" value="${prefix}AnkleRollActuator"/>
	<xacro:property name="AnklePitchActuatorSimName" value="${prefix}AnklePitchActuator"/>
	<xacro:property name="LowerNeckPitchActuatorName" value="lowerNeckPitch"/>
	<xacro:property name="NeckYawActuatorName" value="neckYaw"/>
	<xacro:property name="UpperNeckPitchActuatorName" value="upperNeckPitch"/>
	<xacro:property name="ShoulderPitchActuatorName" value="${prefix}ShoulderPitch"/>
	<xacro:property name="ShoulderRollActuatorName" value="${prefix}ShoulderRoll"/>
	<xacro:property name="ShoulderYawActuatorName" value="${prefix}ShoulderYaw"/>
	<xacro:property name="ElbowPitchActuatorName" value="${prefix}ElbowPitch"/>
	<xacro:property name="ForearmYawActuatorName" value="${prefix}ForearmYaw"/>
	<xacro:property name="WristBottomActuatorName" value="${prefix}WristBottomActuator"/>
	<xacro:property name="WristTopActuatorName" value="${prefix}WristTopActuator"/>
	<xacro:property name="WristPitchActuatorSimName" value="${prefix}WristPitchActuator"/>
	<xacro:property name="WristRollActuatorSimName" value="${prefix}WristRollActuator"/>
	<xacro:property name="IndexFingerPitch1ActuatorName" value="${prefix}IndexFingerPitch1"/>
	<xacro:property name="MiddleFingerPitch1ActuatorName" value="${prefix}MiddleFingerPitch1"/>
	<xacro:property name="PinkyPitch1ActuatorName" value="${prefix}PinkyPitch1"/>
	<xacro:property name="ThumbRollActuatorName" value="${prefix}ThumbRoll"/>
	<xacro:property name="ThumbPitch1ActuatorName" value="${prefix}ThumbPitch1"/>
	<xacro:property name="ThumbPitch2ActuatorName" value="${prefix}ThumbPitch2"/>
</robot>