<?xml version="1.0" ?>
<database>
  <name>axl_half_and_half</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://axl</uri>
    <uri>file://axl_half_and_half</uri>
    <uri>file://bono</uri>
    <uri>file://four_bar</uri>
    <uri>file://anondized_aluminum_box</uri>
    <uri>file://carbon_fiber_box</uri>
  </models>
</database>
