**/build**
**/install**
**/log**
**/src**
**/vllm**
**/__pycache__**
modules/ros2-env/
modules/vlm/test/models/
modules/failure_info.json
modules/vlm/behavior-interface/Qwen2.5-VL-7B-Instruct-AWQ/
modules/vlm/behavior-interface/qwen2.5vl*/
