<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_C_ports">

	<xacro:property name="pelvis_middle_imu_port" value="UNKNOWN" />

	<xacro:property name="pelvis_rear_imu_port" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6233.47251-if00" />
	<!-- <xacro:property name="pelvis_rear_imu_port" value="/dev/serial/by-id/usb-FTDI_USB-RS422_Cable_FTXRO1OW-if00-port0" /> -->

	<xacro:property name="torso_left_imu_port" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6233.47096-if00" />

</robot>
