<launch>
	<include file="$(find elevation_mapping)/launch/atlas.launch" />
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find foothold_finder)/launch/custom_rosconsole.conf"/>
 	<node pkg="foothold_finder" type="foothold_finder" name="foothold_finder" output="screen">
 		<param name="elevation_map_service" type="string" value="/elevation_mapping/get_grid_map" />
 		<param name="search_area_side_length" type="double" value="0.6" />
 		<param name="plane_tolerance" type="double" value="0.05" />
 		<param name="valid_cell_count_threshold" type="double" value="0.8" />
 		<param name="min_number_of_cells_per_foothold" type="int" value="8" />
    </node>
</launch>