.tree-cell:is-registry {
	-fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.heading {
    -fx-font-weight: bold;
    -fx-font-size: 20.0;
}

#parameter-name-in-tree-view {
	-fx-fill: black;
}

#modified-parameter-name-in-tree-view {
	-fx-fill: orange;
}

#default-parameter-name-in-tree-view {
	-fx-fill: darkred;
}

#parameter-name-in-tuner {
	-fx-text-fill: -fx-text-inner-color;
	-fx-font-weight: bold;
}
