<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/joint_limits">
  <xacro:property name="TorsoYawTorqueLimit" value="190" />
  <xacro:property name="TorsoPitchTorqueLimit" value="150" />
  <xacro:property name="TorsoRollTorqueLimit" value="150" />
    
  <xacro:property name="TorsoYawPositionLimit_Lower" value="-1.329" />
  <xacro:property name="TorsoPitchPositionLimit_Lower" value="-0.13" />
  <xacro:property name="TorsoRollPositionLimit_Lower" value="-0.23" />
  
  <xacro:property name="TorsoYawPositionLimit_Upper" value="1.181" />
  <xacro:property name="TorsoPitchPositionLimit_Upper" value="0.666" />
  <xacro:property name="TorsoRollPositionLimit_Upper" value="0.255" />
  
  <xacro:property name="TorsoYawVelocityLimit" value="5.89" />
  <xacro:property name="TorsoPitchVelocityLimit" value="9" />
  <xacro:property name="TorsoRollVelocityLimit" value="9" />
</robot>