<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waist">

  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/common/xacro/actuator_names/valkyrie_actuator_names.xacro"/>
  <xacro:include filename="$(find val_description)/common/xacro/nodes/valkyrie_nodes.xacro"/>
  <xacro:include filename="$(find val_description)/common/xacro/api/valkyrie_api.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/link_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/waist/mass_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/sensors/microstrain.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/sensors/flea.xacro"/>

  <xacro:macro name="make_waist_common" params="waist_root_link">

    <xacro:revolute_joint_ex jointName="${TorsoYawJointName}"
                          parent="${TorsoYawParentLinkName}" child="${TorsoYawLinkName}"
                          origin_xyz="${TorsoYawFrameOrigin_X} ${TorsoYawFrameOrigin_Y} ${TorsoYawFrameOrigin_Z}"
                          origin_rpy="${TorsoYawFrameOrientation_Roll} ${TorsoYawFrameOrientation_Pitch} ${TorsoYawFrameOrientation_Yaw}" 
                          axis="${TorsoYawRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoYawTorqueLimit}" lower="${TorsoYawPositionLimit_Lower}" upper="${TorsoYawPositionLimit_Upper}" velocity="${TorsoYawVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>

    <xacro:revolute_joint_ex jointName="${TorsoPitchJointName}"
                          parent="${TorsoYawLinkName}" child="${TorsoPitchLinkName}"
                          origin_xyz="${TorsoPitchFrameOrigin_X} ${TorsoPitchFrameOrigin_Y} ${TorsoPitchFrameOrigin_Z}"
                          origin_rpy="${TorsoPitchFrameOrientation_Roll} ${TorsoPitchFrameOrientation_Pitch} ${TorsoPitchFrameOrientation_Yaw}"
                          axis="${TorsoPitchRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoPitchTorqueLimit}" lower="${TorsoPitchPositionLimit_Lower}" upper="${TorsoPitchPositionLimit_Upper}" velocity="${TorsoPitchVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>


    <xacro:revolute_joint_ex jointName="${TorsoRollJointName}"
                          parent="${TorsoPitchLinkName}" child="${TorsoRollLinkName}"
                          origin_xyz="${TorsoRollFrameOrigin_X} ${TorsoRollFrameOrigin_Y} ${TorsoRollFrameOrigin_Z}"
                          origin_rpy="${TorsoRollFrameOrientation_Roll} ${TorsoRollFrameOrientation_Pitch} ${TorsoRollFrameOrientation_Yaw}" 
                          axis="${TorsoRollRotationAxis}"
                          damping="0.1" friction="0.0">
        <limit effort="${TorsoRollTorqueLimit}" lower="${TorsoRollPositionLimit_Lower}" upper="${TorsoRollPositionLimit_Upper}" velocity="${TorsoRollVelocityLimit}"/>
        <controller_gains Kp="20000" Kd="400"/>
    </xacro:revolute_joint_ex>
  </xacro:macro>

  <xacro:macro name="make_waist" params="waist_root_link">
    <xacro:standard_link name="${TorsoYawLinkName}"
                    mass="${TorsoYawLinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TorsoYawLinkComPosition}"
                    ixx="${TorsoYawLinkInertia_IXX}" ixy="${TorsoYawLinkInertia_IXY}" ixz="${TorsoYawLinkInertia_IXZ}"
                    iyy="${TorsoYawLinkInertia_IYY}" iyz="${TorsoYawLinkInertia_IYZ}" izz="${TorsoYawLinkInertia_IZZ}"
                    visual_mesh="${mesh_root}/torso/torsoyaw.dae"
                    collision_mesh="${mesh_root}/torso/torsoyaw.dae" />

    <xacro:standard_link name="${TorsoPitchLinkName}"
                    mass="${TorsoPitchLinkMass}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TorsoPitchLinkComPosition}"
                    ixx="${TorsoPitchLinkInertia_IXX}" ixy="${TorsoPitchLinkInertia_IXY}" ixz="${TorsoPitchLinkInertia_IXZ}"
                    iyy="${TorsoPitchLinkInertia_IYY}" iyz="${TorsoPitchLinkInertia_IYZ}" izz="${TorsoPitchLinkInertia_IZZ}"
                    visual_mesh="${mesh_root}/torso/torsopitch.dae"
                    collision_mesh="${mesh_root}/torso/torsopitch.dae" />

    <xacro:standard_link name="${TorsoRollLinkName}"
                    mass="${TorsoRollLinkMass}"
                    ixx="${TorsoRollLinkInertia_IXX}" ixy="${TorsoRollLinkInertia_IXY}" ixz="${TorsoRollLinkInertia_IXZ}"
                    iyy="${TorsoRollLinkInertia_IYY}" iyz="${TorsoRollLinkInertia_IYZ}" izz="${TorsoRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    origin_xyz="${TorsoRollLinkComPosition}"
                    visual_mesh="${mesh_root}/torso/torso.dae"
                    collision_mesh="${mesh_root}/torso/torso.dae" />

    <xacro:make_waist_common waist_root_link="${waist_root_link}"/>
  </xacro:macro>

  <xacro:macro name="waist_actuators"  params="name1 type1 name2 type2 name3 type3">
    <actuator name="${name1}" type="${type1}"/>
    <actuator name="${name2}" type="${type2}"/>
    <actuator name="${name3}" type="${type3}"/>
  </xacro:macro>

  <xacro:macro name="v1_trunk_sensors">
    <xacro:microstrain_sensor sensorName="leftTorsoIMU"
                              parentLink="${TorsoRollLinkName}"
                              origin_xyz="-0.046863 0.134239 0.3630676"
                              origin_rpy="1.57 0 3.14" />

    <xacro:flea3_camera sensorName="rightHazardCamera"
                        parentLink="${TorsoRollLinkName}"
                        origin_xyz="0.0345 -0.0406 0.1135"
                        origin_rpy="1.57 0.0 1.57"
                        imageFormat="R8G8B8"
                        frameRate="60"/>

    <xacro:flea3_camera sensorName="leftHazardCamera"
                        parentLink="${TorsoRollLinkName}"
                        origin_xyz="0.0345 0.0406 0.1135"
                        origin_rpy="1.57 0.0 1.57"
                        imageFormat="R8G8B8"
                        frameRate="60"/>
   </xacro:macro>

   <xacro:macro name="waist_transmissions_hw">
    <xacro:simple_transmission jointName="${TorsoYawJointName}" actuatorName="${TorsoYawActuatorName}" nodeName="${TrunkYawNode}" actuatorApi="${TrunkYawApi}"/> 
    <xacro:pushrod_transmission transmissionName="waistTransmission" transmissionType="TorsoPushrodTransmission" joint1Name="${TorsoPitchJointName}" joint2Name="${TorsoRollJointName}" joint1Role="pitch" joint2Role="roll" actuator1Name="${WaistRightActuatorName}" actuator2Name="${WaistLeftActuatorName}" actuator1Node="${WaistRightActuatorNode}" actuator2Node="${WaistLeftActuatorNode}" actuator1Api="${WaistRightActuatorApi}" actuator2Api="${WaistLeftActuatorApi}" actuator1Role="right" actuator2Role="left"/>
   </xacro:macro>

   <xacro:macro name="waist_transmissions_sim">
    <xacro:simple_transmission jointName="${TorsoYawJointName}" actuatorName="${TorsoYawActuatorName}" nodeName="${TrunkYawNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${TorsoPitchJointName}" actuatorName="${WaistPitchActuatorSimName}" nodeName="${WaistPitchActuatorSimNode}" actuatorApi="${SimApi}"/> 
    <xacro:simple_transmission jointName="${TorsoRollJointName}" actuatorName="${WaistRollActuatorSimName}" nodeName="${WaistRollActuatorSimNode}" actuatorApi="${SimApi}"/> 
   </xacro:macro>
</robot>
