<?xml version="1.0" ?>
<robot name="valkyrie_joint_names" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="TorsoYawJointName" value="torsoYaw"/>
	<xacro:property name="TorsoPitchJointName" value="torsoPitch"/>
	<xacro:property name="TorsoRollJointName" value="torsoRoll"/>
	<xacro:property name="HipYawJointName" value="${prefix}HipYaw"/>
	<xacro:property name="HipRollJointName" value="${prefix}HipRoll"/>
	<xacro:property name="HipPitchJointName" value="${prefix}HipPitch"/>
	<xacro:property name="KneePitchJointName" value="${prefix}KneePitch"/>
	<xacro:property name="AnklePitchJointName" value="${prefix}AnklePitch"/>
	<xacro:property name="AnkleRollJointName" value="${prefix}AnkleRoll"/>
	<xacro:property name="LowerNeckPitchJointName" value="lowerNeckPitch"/>
	<xacro:property name="NeckYawJointName" value="neckYaw"/>
	<xacro:property name="UpperNeckPitchJointName" value="upperNeckPitch"/>
	<xacro:property name="ShoulderPitchJointName" value="${prefix}ShoulderPitch"/>
	<xacro:property name="ShoulderRollJointName" value="${prefix}ShoulderRoll"/>
	<xacro:property name="ShoulderYawJointName" value="${prefix}ShoulderYaw"/>
	<xacro:property name="ElbowPitchJointName" value="${prefix}ElbowPitch"/>
	<xacro:property name="ForearmYawJointName" value="${prefix}ForearmYaw"/>
	<xacro:property name="WristRollJointName" value="${prefix}WristRoll"/>
	<xacro:property name="WristPitchJointName" value="${prefix}WristPitch"/>
	<xacro:property name="IndexFingerPitch1JointName" value="${prefix}IndexFingerPitch1"/>
	<xacro:property name="IndexFingerPitch2JointName" value="${prefix}IndexFingerPitch2"/>
	<xacro:property name="IndexFingerPitch3JointName" value="${prefix}IndexFingerPitch3"/>
	<xacro:property name="MiddleFingerPitch1JointName" value="${prefix}MiddleFingerPitch1"/>
	<xacro:property name="MiddleFingerPitch2JointName" value="${prefix}MiddleFingerPitch2"/>
	<xacro:property name="MiddleFingerPitch3JointName" value="${prefix}MiddleFingerPitch3"/>
	<xacro:property name="PinkyPitch1JointName" value="${prefix}PinkyPitch1"/>
	<xacro:property name="PinkyPitch2JointName" value="${prefix}PinkyPitch2"/>
	<xacro:property name="PinkyPitch3JointName" value="${prefix}PinkyPitch3"/>
	<xacro:property name="ThumbRollJointName" value="${prefix}ThumbRoll"/>
	<xacro:property name="ThumbPitch1JointName" value="${prefix}ThumbPitch1"/>
	<xacro:property name="ThumbPitch2JointName" value="${prefix}ThumbPitch2"/>
	<xacro:property name="ThumbPitch3JointName" value="${prefix}ThumbPitch3"/>
</robot>