# Top level directories to ignore
/build
/classes
/bin
/out
/target

# Top level directories in sub-projects
*/classes
*/bin
*/out
*/target
*/build

# directories to always ignore
**/.gradle
**/.project
**/.classpath
**/.git
**/.settings
**/.idea
**/.metadata
**/.DS_Store
**/.svn
**/.metadata
**/CVS
**/tmp
**/.idea_modules
**/.directory
**/.Trash-*
**/$RECYCLE.BIN
**/.kdev4
**/.LSOverride
**/.AppleDouble


# File types to ignore
**/*.jar
**/cookies.txt

**/*.iml
**/*.hprof
**/hs_err_pid*
**/id_dsa*
**/id_rsa*
**/*.war
**/*.ear
**/*.class
**/.cvsignore
**/.cproject
**/.factorypath
**/*.pydevproject
**/local.properties
**/.loadpath
**/.buildpath
**/.texlipse
**/.swp.*
**/.*.kate-swp
**/.ipr
**/.iws
**/atlassian-ide-plugin.xml
**/.lyx~
**/.lyx#
**/~*
**/[._]*.s[a-w][a-z]
**/[._]s[a-w][a-z]
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/*.lnk
**/*.desktop
**/secring.*
**/._*
**/.AppleDB
**/.AppleDesktop
**/Network Trash Folder
**/Temporary Items
**/.apdisk
