<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ROSJavaBootstrap/src/main/java/us/ihmc/ros/MessageAndServiceInterfaceGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="us.ihmc.ros.MessageAndServiceInterfaceGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="../ROSJavaMessages/generated-src ROSMessagesAndServices"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ROSJavaBootstrap"/>
</launchConfiguration>
