<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/index_finger">

  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/index_finger/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/index_finger/link_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/index_finger/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/index_finger/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/index_finger/mass_parameters.xacro"/>

  <xacro:macro name="make_index_finger" params="prefix reflect index_finger_root_link">
    
    <xacro:standard_link name="${IndexFingerPitch1LinkName}" 
                    mass="${IndexFingerPitch1LinkMass}" 
                    origin_xyz="${IndexFingerPitch1ComPosition}"
                    ixx="${IndexFingerPitch1LinkInertia_IXX}" ixy="${IndexFingerPitch1LinkInertia_IXY}" ixz="${IndexFingerPitch1LinkInertia_IXZ}"
                    iyy="${IndexFingerPitch1LinkInertia_IYY}" iyz="${IndexFingerPitch1LinkInertia_IYZ}" izz="${IndexFingerPitch1LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${mesh_root}/fingers/indexj1_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/indexj1_${prefix}.dae"/>

    <xacro:standard_link name="${IndexFingerPitch2LinkName}" 
                    mass="${IndexFingerPitch2LinkMass}" 
                    origin_xyz="${IndexFingerPitch2ComPosition}"
                    ixx="${IndexFingerPitch2LinkInertia_IXX}" ixy="${IndexFingerPitch2LinkInertia_IXY}" ixz="${IndexFingerPitch2LinkInertia_IXZ}"
                    iyy="${IndexFingerPitch2LinkInertia_IYY}" iyz="${IndexFingerPitch2LinkInertia_IYZ}" izz="${IndexFingerPitch2LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${mesh_root}/fingers/indexj2_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/indexj2_${prefix}.dae"/>

    <xacro:standard_link name="${IndexFingerPitch3LinkName}" 
                    mass="${IndexFingerPitch3LinkMass}" 
                    origin_xyz="${IndexFingerPitch3ComPosition}"
                    ixx="${IndexFingerPitch3LinkInertia_IXX}" ixy="${IndexFingerPitch3LinkInertia_IXY}" ixz="${IndexFingerPitch3LinkInertia_IXZ}"
                    iyy="${IndexFingerPitch3LinkInertia_IYY}" iyz="${IndexFingerPitch3LinkInertia_IYZ}" izz="${IndexFingerPitch3LinkInertia_IZZ}"
                    origin_rpy="0 0 0" 
                    visual_mesh="${mesh_root}/fingers/indexj3_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/indexj3_${prefix}.dae"/>

    <xacro:revolute_joint jointName="${IndexFingerPitch1JointName}" 
                          parent="${IndexFingerPitch1ParentLinkName}" child="${IndexFingerPitch1LinkName}"
                          origin_xyz="${IndexFingerPitch1FrameOrigin_X} ${IndexFingerPitch1FrameOrigin_Y} ${IndexFingerPitch1FrameOrigin_Z}" 
                          origin_rpy="${IndexFingerPitch1FrameOrientation_Roll} ${IndexFingerPitch1FrameOrientation_Pitch} ${IndexFingerPitch1FrameOrientation_Yaw}"
                          axis="${IndexFingerPitch1RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${IndexFingerPitch1TorqueLimit}" lower="${-reflect * IndexFingerPitch1PositionLimit_Upper}" upper="${-reflect * IndexFingerPitch1PositionLimit_Lower}" velocity="${IndexFingerPitch1VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${IndexFingerPitch1TorqueLimit}" lower="${IndexFingerPitch1PositionLimit_Lower}" upper="${IndexFingerPitch1PositionLimit_Upper}" velocity="${IndexFingerPitch1VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>
    
    <xacro:revolute_joint jointName="${IndexFingerPitch2JointName}" 
                          parent="${IndexFingerPitch1LinkName}" child="${IndexFingerPitch2LinkName}"
                          origin_xyz="${IndexFingerPitch2FrameOrigin_X} ${IndexFingerPitch2FrameOrigin_Y} ${IndexFingerPitch2FrameOrigin_Z}" 
                          origin_rpy="${IndexFingerPitch2FrameOrientation_Roll} ${IndexFingerPitch2FrameOrientation_Pitch} ${IndexFingerPitch2FrameOrientation_Yaw}"
                          axis="${IndexFingerPitch2RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${IndexFingerPitch2TorqueLimit}" lower="${-reflect * IndexFingerPitch2PositionLimit_Upper}" upper="${-reflect * IndexFingerPitch2PositionLimit_Lower}" velocity="${IndexFingerPitch2VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${IndexFingerPitch2TorqueLimit}" lower="${IndexFingerPitch2PositionLimit_Lower}" upper="${IndexFingerPitch2PositionLimit_Upper}" velocity="${IndexFingerPitch2VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${IndexFingerPitch3JointName}" 
                          parent="${IndexFingerPitch2LinkName}" child="${IndexFingerPitch3LinkName}"
                          origin_xyz="${IndexFingerPitch3FrameOrigin_X} ${IndexFingerPitch3FrameOrigin_Y} ${IndexFingerPitch3FrameOrigin_Z}" 
                          origin_rpy="${IndexFingerPitch3FrameOrientation_Roll} ${IndexFingerPitch3FrameOrientation_Pitch} ${IndexFingerPitch3FrameOrientation_Yaw}"
                          axis="${IndexFingerPitch3RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${IndexFingerPitch3TorqueLimit}" lower="${-reflect * IndexFingerPitch3PositionLimit_Upper}" upper="${-reflect * IndexFingerPitch3PositionLimit_Lower}" velocity="${IndexFingerPitch3VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${IndexFingerPitch3TorqueLimit}" lower="${IndexFingerPitch3PositionLimit_Lower}" upper="${IndexFingerPitch3PositionLimit_Upper}" velocity="${IndexFingerPitch3VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>
  </xacro:macro>

  <xacro:macro name="v1_right_index_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${RPFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

  <xacro:macro name="v1_left_index_finger_actuators" params="prefix api">
    <xacro:v1_actuator name="${LPFA_Actuator_Name}" api="${api}" />
  </xacro:macro>

</robot>
