<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/index_finger/dh_parameters">

  <xacro:property name="IndexFingerPitch1ParentLinkName" value="${index_finger_root_link}" />
  <xacro:property name="IndexFingerPitch1LinkName" value="${prefix}IndexFingerPitch1Link" />
  <xacro:property name="IndexFingerPitch2LinkName" value="${prefix}IndexFingerPitch2Link" />
  <xacro:property name="IndexFingerPitch3LinkName" value="${prefix}IndexFingerPitch3Link" />
  <xacro:property name="IndexFingerPitch4LinkName" value="${prefix}IndexFingerPitch4Link" />
  
</robot>