<robot xmlns:xacro="http://ros.org/wiki/xacro" name="waist">

    <xacro:include filename="xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/actuator_names/valkyrie_actuator_names.xacro"/>

    <xacro:macro name="waist" params="j1_serial_number waist_left_actuator_serial waist_right_actuator_serial" >
    	<xacro:simple_mechanism name="${TorsoYawJointName}" serial_number="${j1_serial_number}" node="${TrunkYawNode}"/>

    	<xacro:two_active_joint_mechanism mechanism_name="waist" actuator0_name="${WaistLeftActuatorName}" actuator1_name="${WaistRightActuatorName}" joint0_name="${TorsoPitchJointName}" joint1_name="${TorsoRollJointName}" actuator0_serial="${waist_left_actuator_serial}" actuator1_serial="${waist_right_actuator_serial}" actuator0_node="${WaistLeftActuatorNode}" actuator1_node="${WaistRightActuatorNode}" />
    </xacro:macro>

</robot>