<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="thumb">
  
  <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/joint_axes.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/link_names.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/joint_limits.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/frame_parameters.xacro"/>
  <xacro:include filename="$(find val_description)/model/robots/common/xacro/thumb/mass_parameters.xacro"/>

  <xacro:macro name="make_thumb" params="prefix reflect thumb_root_link">
    <xacro:standard_link name="${ThumbRollLinkName}"
                    mass="${ThumbRollLinkMass}"
                    origin_xyz="${ThumbRollLinkComPosition}"
                    ixx="${ThumbRollLinkInertia_IXX}" ixy="${ThumbRollLinkInertia_IXY}" ixz="${ThumbRollLinkInertia_IXZ}"
                    iyy="${ThumbRollLinkInertia_IYY}" iyz="${ThumbRollLinkInertia_IYZ}" izz="${ThumbRollLinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/fingers/thumbj1_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/thumbj1_${prefix}.dae"/>

    <xacro:standard_link name="${ThumbPitch1LinkName}"
                    mass="${ThumbPitch1LinkMass}"
                    origin_xyz="${ThumbPitch1LinkComPosition}"
                    ixx="${ThumbPitch1LinkInertia_IXX}" ixy="${ThumbPitch1LinkInertia_IXY}" ixz="${ThumbPitch1LinkInertia_IXZ}"
                    iyy="${ThumbPitch1LinkInertia_IYY}" iyz="${ThumbPitch1LinkInertia_IYZ}" izz="${ThumbPitch1LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/fingers/thumbj2_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/thumbj2_${prefix}.dae"/>

    <xacro:standard_link name="${ThumbPitch2LinkName}"
                    mass="${ThumbPitch2LinkMass}"
                    origin_xyz="${ThumbPitch2LinkComPosition}"
                    ixx="${ThumbPitch2LinkInertia_IXX}" ixy="${ThumbPitch2LinkInertia_IXY}" ixz="${ThumbPitch2LinkInertia_IXZ}"
                    iyy="${ThumbPitch2LinkInertia_IYY}" iyz="${ThumbPitch2LinkInertia_IYZ}" izz="${ThumbPitch2LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/fingers/thumbj3_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/thumbj3_${prefix}.dae"/>

    <xacro:standard_link name="${ThumbPitch3LinkName}"
                    mass="${ThumbPitch3LinkMass}"
                    origin_xyz="${ThumbPitch3LinkComPosition}"
                    ixx="${ThumbPitch3LinkInertia_IXX}" ixy="${ThumbPitch3LinkInertia_IXY}" ixz="${ThumbPitch3LinkInertia_IXZ}"
                    iyy="${ThumbPitch3LinkInertia_IYY}" iyz="${ThumbPitch3LinkInertia_IYZ}" izz="${ThumbPitch3LinkInertia_IZZ}"
                    origin_rpy="0 0 0"
                    visual_mesh="${mesh_root}/fingers/thumbj4_${prefix}.dae"
                    collision_mesh="${mesh_root}/fingers/thumbj4_${prefix}.dae"/>

    <xacro:revolute_joint jointName="${ThumbRollJointName}"
                          parent="${ThumbRollParentLinkName}" child="${ThumbRollLinkName}"
                          origin_xyz="${ThumbRollFrameOrigin_X} ${ThumbRollFrameOrigin_Y} ${ThumbRollFrameOrigin_Z}"
                          origin_rpy="${ThumbRollFrameOrientation_Roll} ${ThumbRollFrameOrientation_Pitch} ${ThumbRollFrameOrientation_Yaw}"
                          axis="${ThumbRollRotationAxis}">
        <limit effort="${ThumbRollTorqueLimit}" lower="${ThumbRollPositionLimit_Lower}" upper="${ThumbRollPositionLimit_Upper}" velocity="${ThumbRollVelocityLimit}"/>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${ThumbPitch1JointName}"
                          parent="${ThumbRollLinkName}" child="${ThumbPitch1LinkName}"
                          origin_xyz="${ThumbPitch1FrameOrigin_X} ${ThumbPitch1FrameOrigin_Y} ${ThumbPitch1FrameOrigin_Z}"
                          origin_rpy="${ThumbPitch1FrameOrientation_Roll} ${ThumbPitch1FrameOrientation_Pitch} ${ThumbPitch1FrameOrientation_Yaw}"
                          axis="${ThumbPitch1RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch1TorqueLimit}" lower="${-reflect * ThumbPitch1PositionLimit_Upper}" upper="${-reflect * ThumbPitch1PositionLimit_Lower}" velocity="${ThumbPitch1VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch1TorqueLimit}" lower="${ThumbPitch1PositionLimit_Lower}" upper="${ThumbPitch1PositionLimit_Upper}" velocity="${ThumbPitch1VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${ThumbPitch2JointName}"
                          parent="${ThumbPitch1LinkName}" child="${ThumbPitch2LinkName}"
                          origin_xyz="${ThumbPitch2FrameOrigin_X} ${ThumbPitch2FrameOrigin_Y} ${ThumbPitch2FrameOrigin_Z}"
                          origin_rpy="${ThumbPitch2FrameOrientation_Roll} ${ThumbPitch2FrameOrientation_Pitch} ${ThumbPitch2FrameOrientation_Yaw}"
                          axis="${ThumbPitch2RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch2TorqueLimit}" lower="${-reflect * ThumbPitch2PositionLimit_Upper}" upper="${-reflect * ThumbPitch2PositionLimit_Lower}" velocity="${ThumbPitch2VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch2TorqueLimit}" lower="${ThumbPitch2PositionLimit_Lower}" upper="${ThumbPitch2PositionLimit_Upper}" velocity="${ThumbPitch2VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>

    <xacro:revolute_joint jointName="${ThumbPitch3JointName}"
                          parent="${ThumbPitch2LinkName}" child="${ThumbPitch3LinkName}"
                          origin_xyz="${ThumbPitch3FrameOrigin_X} ${ThumbPitch3FrameOrigin_Y} ${ThumbPitch3FrameOrigin_Z}"
                          origin_rpy="${ThumbPitch3FrameOrientation_Roll} ${ThumbPitch3FrameOrientation_Pitch} ${ThumbPitch3FrameOrientation_Yaw}"
                          axis="${ThumbPitch3RotationAxis}">
        <xacro:if value="${(reflect+1)/2}">
          <limit effort="${ThumbPitch3TorqueLimit}" lower="${-reflect * ThumbPitch3PositionLimit_Upper}" upper="${-reflect * ThumbPitch3PositionLimit_Lower}" velocity="${ThumbPitch3VelocityLimit}"/>
        </xacro:if>
        <xacro:if value="${(-reflect+1)/2}">
          <limit effort="${ThumbPitch3TorqueLimit}" lower="${ThumbPitch3PositionLimit_Lower}" upper="${ThumbPitch3PositionLimit_Upper}" velocity="${ThumbPitch3VelocityLimit}"/>
        </xacro:if>
    </xacro:revolute_joint>
  </xacro:macro>

  <xacro:macro name="thumb_transmissions_hw" params="prefix reflect">
    <xacro:simple_position_transmission jointName="${ThumbRollJointName}" actuatorName="${prefix}ThumbRollActuator" nodeName="${ThumbRollNode}" actuatorApi="${ThumbFingerApi}"/>
    <xacro:simple_forearm_position_transmission jointName="${ThumbPitch1JointName}" actuatorName="${prefix}ThumbPitch1Actuator" nodeName="${ThumbPitch1Node}" actuatorApi="${ThumbFingerApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${ThumbPitch2JointName}" actuatorName="${prefix}ThumbPitch2Actuator" nodeName="${ThumbPitch2Node}" actuatorApi="${ThumbFingerApi}" reflect="${reflect}"/>
    <xacro:simple_forearm_position_transmission jointName="${ThumbPitch3JointName}" actuatorName="${prefix}ThumbPitch3Actuator" nodeName="${ThumbPitch3Node}" actuatorApi="${ThumbFingerApi}" reflect="${reflect}"/>
  </xacro:macro>

</robot>
