<robot xmlns:xacro="http://ros.orgt/wiki/xacro" name="common_bodies">
    <xacro:include filename="common/xacro/pelvis/pelvis.xacro" />
    <xacro:include filename="common/xacro/waist/waist.xacro" />
    <xacro:include filename="common/xacro/head/head.xacro" />
    <xacro:include filename="common/xacro/arm/arm.xacro" />
    <xacro:include filename="common/xacro/thumb/thumb.xacro" />
    <xacro:include filename="common/xacro/leg/leg.xacro" />
    <xacro:include filename="common/xacro/index_finger/index_finger.xacro" />
    <xacro:include filename="common/xacro/middle_finger/middle_finger.xacro" />
    <xacro:include filename="common/xacro/pinky_finger/pinky_finger.xacro" />
</robot>