<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_C">

	<xacro:property name="instance" value="valkyrie_C" />
	<xacro:include filename="$(find val_description)/common/xacro/serial_numbers/valkyrie_C_serials.xacro" />
    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/common/valkyrie_full_template.xacro"/>

</robot>