<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_joint_rotation_axes">

<xacro:property name="HipYawRotationAxis" value="0 0 1"/>
<xacro:property name="HipRollRotationAxis" value="1 0 0"/>
<xacro:property name="HipPitchRotationAxis" value="0 1 0"/>
<xacro:property name="KneePitchRotationAxis" value="0 1 0"/>
<xacro:property name="AnklePitchRotationAxis" value="0 1 0"/>
<xacro:property name="AnkleRollRotationAxis" value="1 0 0"/>

</robot>