<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/leg/joint_limits">

  <xacro:property name="HipYawTorqueLimit" value="190" />
  <xacro:property name="HipRollTorqueLimit" value="350" />
  <xacro:property name="HipPitchTorqueLimit" value="350" />
  <xacro:property name="KneePitchTorqueLimit" value="350" />
  <xacro:property name="AnklePitchTorqueLimit" value="205" />
  <xacro:property name="AnkleRollTorqueLimit" value="205" />

  <xacro:property name="HipYawPositionLimit_Lower" value="-1.1" />
  <xacro:property name="HipRollPositionLimit_Lower" value="-0.5515" />
  <xacro:property name="HipPitchPositionLimit_Lower" value="-2.42" />
  <xacro:property name="KneePitchPositionLimit_Lower" value="-0.083" />
  <xacro:property name="AnklePitchPositionLimit_Lower" value="-0.8644" />
  <xacro:property name="AnkleRollPositionLimit_Lower" value="-0.349" />

  <xacro:property name="HipYawPositionLimit_Upper" value="0.4141" />
  <xacro:property name="HipRollPositionLimit_Upper" value="0.467" />
  <xacro:property name="HipPitchPositionLimit_Upper" value="1.619" />
  <xacro:property name="KneePitchPositionLimit_Upper" value="2.057" />
  <xacro:property name="AnklePitchPositionLimit_Upper" value="0.875" />
  <xacro:property name="AnkleRollPositionLimit_Upper" value="0.348" />

  <xacro:property name="HipYawVelocityLimit" value="5.89" />
  <xacro:property name="HipRollVelocityLimit" value="7" />
  <xacro:property name="HipPitchVelocityLimit" value="6.11" />
  <xacro:property name="KneePitchVelocityLimit" value="6.11" />
  <xacro:property name="AnklePitchVelocityLimit" value="11" />
  <xacro:property name="AnkleRollVelocityLimit" value="11" />
</robot>
