<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/head/mass_parameters">
  
  <xacro:property name="LowerNeckPitchLinkMass" value="1.05" />
  <xacro:property name="LowerNeckPitchLinkComPosition" value="-0.020000 0.000000  0.040000" />
  <xacro:property name="LowerNeckPitchLinkInertia_IXX" value="0.001161092" />
  <xacro:property name="LowerNeckPitchLinkInertia_IXY" value="-0.000099490" />
  <xacro:property name="LowerNeckPitchLinkInertia_IXZ" value="0.000499358" />
  <xacro:property name="LowerNeckPitchLinkInertia_IYY" value="0.001462041" />
  <xacro:property name="LowerNeckPitchLinkInertia_IYZ" value="0.000191851" />
  <xacro:property name="LowerNeckPitchLinkInertia_IZZ" value="0.000656934" />

  <xacro:property name="NeckYawLinkMass" value="1.4" />
  <xacro:property name="NeckYawLinkComPosition" value="-0.030000  -0.010000 0.150000" />
  <xacro:property name="NeckYawLinkInertia_IXX" value="0.001664748" />
  <xacro:property name="NeckYawLinkInertia_IXY" value="-0.000150052" />
  <xacro:property name="NeckYawLinkInertia_IXZ" value="0.000603064" />
  <xacro:property name="NeckYawLinkInertia_IYY" value="0.002332736" />
  <xacro:property name="NeckYawLinkInertia_IYZ" value="0.000205389" />
  <xacro:property name="NeckYawLinkInertia_IZZ" value="0.001766459" />

  <xacro:property name="UpperNeckPitchLinkMass" value="4.59" />
  <xacro:property name="UpperNeckPitchLinkComPosition" value="0.091874 0.001012 -0.005277" />
  <xacro:property name="UpperNeckPitchLinkInertia_IXX" value="0.041442523" />
  <xacro:property name="UpperNeckPitchLinkInertia_IXY" value="-0.000055137" />
  <xacro:property name="UpperNeckPitchLinkInertia_IXZ" value="0.000287605" />
  <xacro:property name="UpperNeckPitchLinkInertia_IYY" value="0.044208496" />
  <xacro:property name="UpperNeckPitchLinkInertia_IYZ" value="0.000245121" />
  <xacro:property name="UpperNeckPitchLinkInertia_IZZ" value="0.041961853" />

  <xacro:property name="HokuyoLinkMass" value="0.057664"/>
  <xacro:property name="HokuyoLinkComPosition" value="0.14793 0.0 0.01"/>

</robot>
