<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_api">
                                            
    <xacro:property name="HipYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="HipRollApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="HipPitchApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="KneePitchApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="AnkleRightActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />
    <xacro:property name="AnkleLeftActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />

    <xacro:property name="ShoulderPitchApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="ShoulderRollApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="ShoulderYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="ElbowPitchApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="ForearmYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="WristTopActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />
    <xacro:property name="WristBottomActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />

    <xacro:property name="LowerNeckPitchApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="NeckYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="UpperNeckPitchApi" value="robot_hardware_interface/TurbodriverAPI" />

    <xacro:property name="TrunkYawApi" value="robot_hardware_interface/TurbodriverAPI" />
    <xacro:property name="WaistLeftActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />
    <xacro:property name="WaistRightActuatorApi" value="robot_hardware_interface/TurbodriverAPI_linear_Renishaw" />

    <xacro:property name="AtiSensorApi" value="TurbodriverForceTorqueSensor" />
    <xacro:property name="ImuMicrostrainHardwareApi" value="val_imu_3dm_gx4_15_interface/Imu3dmGx415Interface" />
    <xacro:property name="ImuVectorNavHardwareApi" value="val_imu_vectornav_vn100_interface/ImuVecotNavInterface" />
    <xacro:property name="ImuSensorSimApi" value="val_imu_gazebo_interface/ImuGazeboInterface" />

    <xacro:property name="ThumbFingerApi" value="midas_finger_interface/MidasFingerAPI" />
    <xacro:property name="IndexFingerApi" value="midas_finger_interface/MidasFingerAPI"/>
    <xacro:property name="MiddleFingerApi" value="midas_finger_interface/MidasFingerAPI"/>
    <xacro:property name="PinkyApi" value="midas_finger_interface/MidasFingerAPI"/>

    <xacro:property name="SimApi" value="robot_hardware_interface/TurbodriverSimAPI" />

    <xacro:property name="Athena1Api" value="athena_forearm_interface/AthenaForearmAPI" />
    <xacro:property name="Athena2Api" value="athena_finger_interface/AthenaFingerAPI" />

    
</robot>
