<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pinky_finger_joint_rotation_axes">

<xacro:property name="PinkyFingerPitch1RotationAxis" value="0 0 1"/>
<xacro:property name="PinkyFingerPitch2RotationAxis" value="0 0 1"/>
<xacro:property name="PinkyFingerPitch3RotationAxis" value="0 0 1"/>

</robot>