<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IHMCHumanoidOperatorInterface"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/usr/lib/x86_64-linux-gnu/gazebo-2.0/plugins::/opt/ros/groovy/lib/drcsim_gazebo_ros_plugins/plugins:/opt/ros/groovy/lib/drcsim_gazebo_plugins/plugins:/opt/ros/groovy/lib/AtlasSimInterface_1.1.1:/opt/ros/groovy/lib:/opt/ros/groovy/lib/drcsim_gazebo_ros_plugins/plugins:/opt/ros/groovy/lib/drcsim_gazebo_plugins/plugins:/usr/lib/x86_64-linux-gnu/gazebo-2.0/plugins"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="us.ihmc.darpaRoboticsChallenge.gazebo.AtlasROSControllerFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-n"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IHMCHumanoidOperatorInterface"/>
<stringAttribute key="yk-options" value="&#10;additional-options2=onexit\=snapshot&#10;startup=6&#10;"/>
</launchConfiguration>
