<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="edu.buffalo.cse.jive.preferences.common_filters">
<listEntry value="antlr.*"/>
<listEntry value="com.apple.*"/>
<listEntry value="com.mysql.*"/>
<listEntry value="com.sun.*"/>
<listEntry value="java.*"/>
<listEntry value="javax.*"/>
<listEntry value="org.apache.*"/>
<listEntry value="org.eclipse.*"/>
<listEntry value="org.hibernate.*"/>
<listEntry value="org.jcp.*"/>
<listEntry value="org.junit.*"/>
<listEntry value="org.postgresql.*"/>
<listEntry value="org.w3c.*"/>
<listEntry value="org.xml.*"/>
<listEntry value="sun.*"/>
<listEntry value="$Proxy*"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DarpaRoboticsChallenge/src/us/ihmc/darpaRoboticsChallenge/DRCDemo01.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="us.ihmc.darpaRoboticsChallenge.DRCDemo01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--ui --sim --env OBSTACLE_COURSE"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DarpaRoboticsChallenge"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024m -Xmx3000m"/>
</launchConfiguration>
