<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="edu.buffalo.cse.jive.preferences.common_filters">
<listEntry value="antlr.*"/>
<listEntry value="com.apple.*"/>
<listEntry value="com.mysql.*"/>
<listEntry value="com.sun.*"/>
<listEntry value="java.*"/>
<listEntry value="javax.*"/>
<listEntry value="org.apache.*"/>
<listEntry value="org.eclipse.*"/>
<listEntry value="org.hibernate.*"/>
<listEntry value="org.jcp.*"/>
<listEntry value="org.junit.*"/>
<listEntry value="org.postgresql.*"/>
<listEntry value="org.w3c.*"/>
<listEntry value="org.xml.*"/>
<listEntry value="sun.*"/>
<listEntry value="$Proxy*"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IHMCHumanoidOperatorInterface"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="images.DRCDemo01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--sim -m ATLAS_NO_HANDS_ADDED_MASS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IHMCHumanoidOperatorInterface"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms1024m -Xmx3000m"/>
</launchConfiguration>
