<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_D_serials">

    <xacro:property name="leftLegJ1SerialNumber" value="v_a_017" />
    <xacro:property name="leftLegJ2SerialNumber" value="v_b_011" />
    <xacro:property name="leftLegJ3SerialNumber" value="v_c_007" />
    <xacro:property name="leftLegJ4SerialNumber" value="v_d_007" />
    <xacro:property name="leftAnkleLeftActuatorSerialNumber" value="v_e_009" />
    <xacro:property name="leftAnkleRightActuatorSerialNumber" value="v_e_010" />

    <xacro:property name="rightLegJ1SerialNumber" value="v_a_018" />
    <xacro:property name="rightLegJ2SerialNumber" value="v_b_010" />
    <xacro:property name="rightLegJ3SerialNumber" value="v_c_006" />
    <xacro:property name="rightLegJ4SerialNumber" value="v_d_006" />
    <xacro:property name="rightAnkleRightActuatorSerialNumber" value="v_e_008" />
    <xacro:property name="rightAnkleLeftActuatorSerialNumber" value="v_e_007" />

    <xacro:property name="leftArmJ1SerialNumber" value="v_a_019" />
    <xacro:property name="leftArmJ2SerialNumber" value="v_b_014" />
    <xacro:property name="leftArmJ3SerialNumber" value="v_f_017" />
    <xacro:property name="leftArmJ4SerialNumber" value="v_f_016" />
    <xacro:property name="leftArmJ5SerialNumber" value="v_g_016" />

    <xacro:property name="rightArmJ1SerialNumber" value="v_a_016" />
    <xacro:property name="rightArmJ2SerialNumber" value="v_b_013" />
    <xacro:property name="rightArmJ3SerialNumber" value="v_f_018" />
    <xacro:property name="rightArmJ4SerialNumber" value="v_f_015" />
    <xacro:property name="rightArmJ5SerialNumber" value="v_g_012" />

    <xacro:property name="neckJ1SerialNumber" value="v_g_014" />
    <xacro:property name="neckJ2SerialNumber" value="v_g_013" />
    <xacro:property name="neckJ3SerialNumber" value="v_g_015" />

    <xacro:property name="trunkSerialNumber" value="v_a_020" />
    <xacro:property name="waistRightActuatorSerialNumber" value="v_e_023" />
    <xacro:property name="waistLeftActuatorSerialNumber" value="v_e_024" />

    <xacro:property name="leftForearmSerialNumber" value="v_h_005"/>
    <xacro:property name="rightForearmSerialNumber" value="v_h_006"/>

    <xacro:property name="left_foot_ATI_serial" value="FT17212" />
    <xacro:property name="right_foot_ATI_serial" value="FT16590" />

    <xacro:property name="sim_ATI_serial" value="FT001SIM" />
    
</robot>
