<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_C_serials">

	<xacro:property name="leftLegJ1SerialNumber" value="v_a_015" />
	<xacro:property name="leftLegJ2SerialNumber" value="v_b_006" />
    <xacro:property name="leftLegJ3SerialNumber" value="v_c_004" />
    <xacro:property name="leftLegJ4SerialNumber" value="v_d_003" />
    <xacro:property name="leftAnkleLeftActuatorSerialNumber" value="v_e_019" />
    <xacro:property name="leftAnkleRightActuatorSerialNumber" value="v_e_020" />

	<xacro:property name="rightLegJ1SerialNumber" value="v_a_014" />
	<xacro:property name="rightLegJ2SerialNumber" value="v_b_007" />
	<xacro:property name="rightLegJ3SerialNumber" value="v_c_003" />
	<xacro:property name="rightLegJ4SerialNumber" value="v_d_002" />
	<xacro:property name="rightAnkleLeftActuatorSerialNumber" value="v_e_018" />
	<xacro:property name="rightAnkleRightActuatorSerialNumber" value="v_e_017" />

	<xacro:property name="leftArmJ1SerialNumber" value="v_a_013" />
	<xacro:property name="leftArmJ2SerialNumber" value="v_b_009" />
	<xacro:property name="leftArmJ3SerialNumber" value="v_f_012" />
	<xacro:property name="leftArmJ4SerialNumber" value="v_f_011" />
	<xacro:property name="leftArmJ5SerialNumber" value="v_g_018" />

	<xacro:property name="rightArmJ1SerialNumber" value="v_a_012" />
	<xacro:property name="rightArmJ2SerialNumber" value="v_b_012" />
	<xacro:property name="rightArmJ3SerialNumber" value="v_f_013" />
	<xacro:property name="rightArmJ4SerialNumber" value="v_f_014" />
	<xacro:property name="rightArmJ5SerialNumber" value="v_g_017" />

	<xacro:property name="neckJ1SerialNumber" value="v_g_001" />
	<xacro:property name="neckJ2SerialNumber" value="v_g_002" />
	<xacro:property name="neckJ3SerialNumber" value="v_g_004" />

	<xacro:property name="trunkSerialNumber" value="v_a_011" />
	<xacro:property name="waistRightActuatorSerialNumber" value="v_e_014" />
	<xacro:property name="waistLeftActuatorSerialNumber" value="v_e_013" />

	<xacro:property name="leftForearmSerialNumber" value="v_h_007"/>
    <xacro:property name="rightForearmSerialNumber" value="v_h_008"/>

	<xacro:property name="left_foot_ATI_serial" value="FT16594" />
	<xacro:property name="right_foot_ATI_serial" value="FT17214" />

	<xacro:property name="sim_ATI_serial" value="FT001SIM" />
    
</robot>
