<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_nodes">

	<xacro:property name="HipYawNode" value="/pelvis/${prefix}_leg_j1" />
	<xacro:property name="HipRollNode" value="/${prefix}_leg/j2" />
	<xacro:property name="HipPitchNode" value="/${prefix}_leg/j3" />
	<xacro:property name="KneePitchNode" value="/${prefix}_leg/j4" />
	<xacro:property name="AnkleLeftActuatorNode" value="/${prefix}_leg/ankle/left_actuator" />
	<xacro:property name="AnkleRightActuatorNode" value="/${prefix}_leg/ankle/right_actuator" />
	<xacro:property name="AnklePitchActuatorSimNode" value="/${prefix}_leg/ankle/pitch_actuator" />
	<xacro:property name="AnkleRollActuatorSimNode" value="/${prefix}_leg/ankle/roll_actuator" />

	<xacro:property name="ShoulderPitchNode" value="/trunk/${prefix}_arm_j1" />
	<xacro:property name="ShoulderRollNode" value="/${prefix}_arm/j2" />
	<xacro:property name="ShoulderYawNode" value="/${prefix}_arm/j3" />
	<xacro:property name="ElbowPitchNode" value="/${prefix}_arm/j4" />
	<xacro:property name="ForearmYawNode" value="/${prefix}_arm/j5" />
	<xacro:property name="WristTopActuatorNode" value="/${prefix}_arm/wrist/top_actautor" />
	<xacro:property name="WristBottomActuatorNode" value="/${prefix}_arm/wrist/bottom_actuator" />
	<xacro:property name="WristRollActuatorSimNode" value="/${prefix}_arm/wrist/roll_actautor" />
	<xacro:property name="WristPitchActuatorSimNode" value="/${prefix}_arm/wrist/pitch_actuator" />

	<xacro:property name="LowerNeckPitchNode" value="/neck/j1" />
	<xacro:property name="NeckYawNode" value="/neck/j2" />
	<xacro:property name="UpperNeckPitchNode" value="/neck/j3" />

	<xacro:property name="TrunkYawNode" value="/pelvis/waist" /> <!--Yaw-->
	<xacro:property name="WaistLeftActuatorNode" value="/trunk/left_actuator" /> <!--pitch-->
	<xacro:property name="WaistRightActuatorNode" value="/trunk/right_actuator" /> <!--roll-->
	<xacro:property name="WaistPitchActuatorSimNode" value="/trunk/pitch_actuator" /> <!--pitch-->
	<xacro:property name="WaistRollActuatorSimNode" value="/trunk/roll_actuator" /> <!--roll-->

	<xacro:property name="pelvis_middle_imu_node" value="/sensors/middlePelvisIMU" />
	<xacro:property name="pelvis_rear_imu_node" value="/sensors/rearPelvisIMU" />
	<xacro:property name="torso_left_imu_node" value="/sensors/leftTorsoIMU" />
	<xacro:property name="torso_right_imu_node" value="/sensors/rightTorsoIMU" />

	<xacro:property name="left_foot_ATI_node" value="/left_leg/ankle/left_actuator" />
	<xacro:property name="left_foot_Sim_ATI_node" value="/sensors/leftFootSixAxis" />
	<xacro:property name="right_foot_ATI_node" value="/right_leg/ankle/left_actuator" />
	<xacro:property name="right_foot_Sim_ATI_node" value="/sensors/rightFootSixAxis" />

	<xacro:macro name="all_channels" >
		<Channels>
			<Channel id="/right_arm" />
			<Channel id="/left_arm" />
			<Channel id="/right_leg" />
			<Channel id="/left_leg" />
			<Channel id="/neck" />
			<Channel id="/trunk" />
		</Channels>
	</xacro:macro>
    
</robot>
