[Unit]
Description=Load Blackmagic Drivers on QNAP
Before=ihmc-logger.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/etc/ihmc/init/insertBlackmagicDrivers.sh
RemainAfterExit=yes
TimeoutStartSec=60

[Install]
WantedBy=ihmc-logger.service
WantedBy=multi-user.target
