<?xml version="1.0"?>

<model>
  <name>bono</name>
  <version>1.0</version>
  <sdf>robots/bono.SDF</sdf>

  <author>
    <name>Joshua Love</name>
    <email>jalove@sandia.gov</email>
  </author>

  <description>
    The robot (version Bono) for the ACSELL program at Sandia.
  </description>
</model>
