<?xml version="1.0"?>

<model>
  <name>dio</name>
  <version>1.0</version>
  <sdf>robots/bono.sdf</sdf>

  <author>
    <name>Joshua Love</name>
    <email>jalove@sandia.gov</email>
  </author>

  <description>
    The robot (version clapton) for the ACSELL program at Sandia.
  </description>
</model>
