<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/pinky_finger/dh_parameters">

 <xacro:property name="PinkyPitch1FrameOrigin_X" value="0.0022"/>
  <xacro:property name="PinkyPitch1FrameOrigin_Y" value="${reflect * 0.0838}"/>
  <xacro:property name="PinkyPitch1FrameOrigin_Z" value="-0.041"/>

  <xacro:property name="PinkyPitch1FrameOrientation_Roll" value="${reflect * -0.1222}"/>
  <xacro:property name="PinkyPitch1FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="PinkyPitch1FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="PinkyPitch2FrameOrigin_X" value="0.0"/>
  <xacro:property name="PinkyPitch2FrameOrigin_Y" value="${reflect * 0.0381}"/>
  <xacro:property name="PinkyPitch2FrameOrigin_Z" value="0.0"/>

  <xacro:property name="PinkyPitch2FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="PinkyPitch2FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="PinkyPitch2FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="PinkyPitch3FrameOrigin_X" value="0.0"/>
  <xacro:property name="PinkyPitch3FrameOrigin_Y" value="${reflect * 0.0229}"/>
  <xacro:property name="PinkyPitch3FrameOrigin_Z" value="0.0"/>

  <xacro:property name="PinkyPitch3FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="PinkyPitch3FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="PinkyPitch3FrameOrientation_Yaw" value="0.0"/>

</robot>