<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas" >
  <xacro:include filename="$(find multisense_sl_description)/urdf/multisense_sl.urdf" />
  
  <link name="base">
    <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <geometry>
            <box size="0.5 0.5 0.5" />
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <geometry>
            <box size="0.5 0.5 0.5" />
        </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <parent link="head"/>
    <child link="base"/>
  </joint>
</robot>
