<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/middle_finger/dh_parameters">

  <xacro:property name="MiddleFingerPitch1FrameOrigin_X" value="0.0022"/>
  <xacro:property name="MiddleFingerPitch1FrameOrigin_Y" value="${reflect * 0.097}"/>
  <xacro:property name="MiddleFingerPitch1FrameOrigin_Z" value="-0.0119"/>

  <xacro:property name="MiddleFingerPitch1FrameOrientation_Roll" value="${reflect * -0.1222}"/>
  <xacro:property name="MiddleFingerPitch1FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="MiddleFingerPitch1FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="MiddleFingerPitch2FrameOrigin_X" value="0.0"/>
  <xacro:property name="MiddleFingerPitch2FrameOrigin_Y" value="${reflect * 0.0381}"/>
  <xacro:property name="MiddleFingerPitch2FrameOrigin_Z" value="0.0"/>

  <xacro:property name="MiddleFingerPitch2FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="MiddleFingerPitch2FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="MiddleFingerPitch2FrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="MiddleFingerPitch3FrameOrigin_X" value="0.0"/>
  <xacro:property name="MiddleFingerPitch3FrameOrigin_Y" value="${reflect * 0.0229}"/>
  <xacro:property name="MiddleFingerPitch3FrameOrigin_Z" value="0.0"/>

  <xacro:property name="MiddleFingerPitch3FrameOrientation_Roll" value="0.0"/>
  <xacro:property name="MiddleFingerPitch3FrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="MiddleFingerPitch3FrameOrientation_Yaw" value="0.0"/>

</robot>