<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Atlas/src/us/ihmc/atlas/RemoteAtlasVisualizer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="us.ihmc.atlas.RemoteAtlasVisualizer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-m ATLAS_UNPLUGGED_V5_DUAL_ROBOTIQ --realRobot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Atlas"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx16g"/>
</launchConfiguration>
