<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/thumb/mass_parameters">

  <xacro:property name="ThumbRollLinkMass" value="0.017" />
  <xacro:property name="ThumbRollLinkComPosition" value="0 ${reflect*0} 0.01" />
  <xacro:property name="ThumbRollLinkInertia_IXX" value="-0.002386850" />
  <xacro:property name="ThumbRollLinkInertia_IXY" value="0.0" />
  <xacro:property name="ThumbRollLinkInertia_IXZ" value="${reflect*0.0}" />
  <xacro:property name="ThumbRollLinkInertia_IYY" value="-0.002386065" />
  <xacro:property name="ThumbRollLinkInertia_IYZ" value="${reflect*0.0}" />
  <xacro:property name="ThumbRollLinkInertia_IZZ" value="0.000001285" />

  <xacro:property name="ThumbPitch1LinkMass" value="0.02" />
  <xacro:property name="ThumbPitch1LinkComPosition" value="0.0 ${reflect*0.005} 0.02" />
  <xacro:property name="ThumbPitch1LinkInertia_IXX" value="0.000004239" />
  <xacro:property name="ThumbPitch1LinkInertia_IXY" value="0.0" />
  <xacro:property name="ThumbPitch1LinkInertia_IXZ" value="${reflect*0.0}" />
  <xacro:property name="ThumbPitch1LinkInertia_IYY" value="0.000004582" />
  <xacro:property name="ThumbPitch1LinkInertia_IYZ" value="${reflect*-0.0}" />
  <xacro:property name="ThumbPitch1LinkInertia_IZZ" value="0.00000147" />

  <xacro:property name="ThumbPitch2LinkMass" value="0.013" />
  <xacro:property name="ThumbPitch2LinkComPosition" value="0 ${reflect*0.004} 0.017" />
  <xacro:property name="ThumbPitch2LinkInertia_IXX" value="0.000001266" />
  <xacro:property name="ThumbPitch2LinkInertia_IXY" value="0.0" />
  <xacro:property name="ThumbPitch2LinkInertia_IXZ" value="${reflect*0.0}" />
  <xacro:property name="ThumbPitch2LinkInertia_IYY" value="0.000001503" />
  <xacro:property name="ThumbPitch2LinkInertia_IYZ" value="${reflect*0.0}" />
  <xacro:property name="ThumbPitch2LinkInertia_IZZ" value="0.000000699" />

  <xacro:property name="ThumbPitch3LinkMass" value="0.006" />
  <xacro:property name="ThumbPitch3LinkComPosition" value="0 ${reflect*0.004} 0.01" />
  <xacro:property name="ThumbPitch3LinkInertia_IXX" value="0.000000322" />
  <xacro:property name="ThumbPitch3LinkInertia_IXY" value="0.0" />
  <xacro:property name="ThumbPitch3LinkInertia_IXZ" value="0.0" />
  <xacro:property name="ThumbPitch3LinkInertia_IYY" value="0.000000406" />
  <xacro:property name="ThumbPitch3LinkInertia_IYZ" value="0.0" />
  <xacro:property name="ThumbPitch3LinkInertia_IZZ" value="0.00000021" />
  
</robot>