[Unit]
Description=IHMC Logger
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/[Desired user]/IHMCLogger/bin/IHMCLogger
User=[Desired user]
Group=[Desired group]

[Install]
WantedBy=multi-user.target