<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/dh_parameters">

  <xacro:property name="TorsoYawFrameOrigin_X" value="0.0"/>
  <xacro:property name="TorsoYawFrameOrigin_Y" value="0.0"/>
  <xacro:property name="TorsoYawFrameOrigin_Z" value="0.0"/>

  <xacro:property name="TorsoYawFrameOrientation_Roll" value="0.0"/>
  <xacro:property name="TorsoYawFrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="TorsoYawFrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="TorsoPitchFrameOrigin_X" value="0.04191"/>
  <xacro:property name="TorsoPitchFrameOrigin_Y" value="0.0"/>
  <xacro:property name="TorsoPitchFrameOrigin_Z" value="0.0"/>

  <xacro:property name="TorsoPitchFrameOrientation_Roll" value="0.0"/>
  <xacro:property name="TorsoPitchFrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="TorsoPitchFrameOrientation_Yaw" value="0.0"/>

  <xacro:property name="TorsoRollFrameOrigin_X" value="0.0"/>
  <xacro:property name="TorsoRollFrameOrigin_Y" value="0.0"/>
  <xacro:property name="TorsoRollFrameOrigin_Z" value="0.0203"/>

  <xacro:property name="TorsoRollFrameOrientation_Roll" value="0.0"/>
  <xacro:property name="TorsoRollFrameOrientation_Pitch" value="0.0"/>
  <xacro:property name="TorsoRollFrameOrientation_Yaw" value="0.0"/>

</robot>
