<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="v1/waist/mass_parameters">

	<xacro:property name="TorsoYawLinkMass" value="0.5" />
  <xacro:property name="TorsoYawLinkComPosition" value="0.000000 0.000000 -0.010000"/>
  <xacro:property name="TorsoYawLinkInertia_IXX" value="0.000608427" />
  <xacro:property name="TorsoYawLinkInertia_IXY" value="-0.000001172" />
  <xacro:property name="TorsoYawLinkInertia_IXZ" value="0.000001647" />
  <xacro:property name="TorsoYawLinkInertia_IYY" value="0.000620328" />
  <xacro:property name="TorsoYawLinkInertia_IYZ" value="-0.000000233" />
  <xacro:property name="TorsoYawLinkInertia_IZZ" value="0.001078108" />

	<xacro:property name="TorsoPitchLinkMass" value="0.1"/>
  <xacro:property name="TorsoPitchLinkComPosition" value="0.000000 0.000000  0.005000" />
  <xacro:property name="TorsoPitchLinkInertia_IXX" value="0.000030320" />
  <xacro:property name="TorsoPitchLinkInertia_IXY" value="0.000000000" />
  <xacro:property name="TorsoPitchLinkInertia_IXZ" value="-0.000001145" />
  <xacro:property name="TorsoPitchLinkInertia_IYY" value="0.000021274" />
  <xacro:property name="TorsoPitchLinkInertia_IYZ" value="0.000000000" />
  <xacro:property name="TorsoPitchLinkInertia_IZZ" value="0.000028285" />

  <xacro:property name="TorsoRollLinkMass" value="39.470000" />
  <xacro:property name="TorsoRollLinkComPosition" value="-0.095548 -0.003337 0.243098" />
  <xacro:property name="TorsoRollLinkInertia_IXX" value="0.87326933" />
  <xacro:property name="TorsoRollLinkInertia_IXY" value="0.000099563" />
  <xacro:property name="TorsoRollLinkInertia_IXZ" value="0.061345211" />
  <xacro:property name="TorsoRollLinkInertia_IYY" value="1.0108485" />
  <xacro:property name="TorsoRollLinkInertia_IYZ" value="0.001818490" />
  <xacro:property name="TorsoRollLinkInertia_IZZ" value="0.77839801" />

</robot>
