<?xml version='1.0'?>
<model>
  <name>MultiSense SL Sensor Model Resources</name>
  <description>
    This is not a significant source of model, but the package contains model resources.
  </description>
  <version>2.8.0</version>
  <sdf>dummy.urdf</sdf>
  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>
</model>
