<robot xmlns:xacro="http://ros.org/wiki/xacro" name="actuators">

  <xacro:macro name="simple_mechanism" params="name serial_number node">
  	<Mechanism id="${name}" type="simple">
  		<SerialNumber id="${serial_number}" />
  		<Node id="${node}" />
	</Mechanism>

</xacro:macro>

<xacro:macro name="joint" params="name type calibration_file">
	<Joint id="${name}" type="${type}">
	</Joint>
</xacro:macro>

<xacro:macro name="actuator" params="name serial_number node" >
	<Actuator id="${name}">
		<SerialNumber id="${serial_number}" />
		<Node id="${node}" />
	</Actuator>
</xacro:macro>

<xacro:macro name="two_active_joint_mechanism" params="mechanism_name actuator0_name actuator1_name joint0_name joint1_name actuator0_serial actuator0_node actuator1_serial actuator1_node " >
	<Mechanism id="${mechanism_name}" type="complex">
		<xacro:joint name="${joint0_name}" type="active" calibration_file="${instance}_${mechanism_name}_${joint0_name}_cal.xml"/>
		<xacro:joint name="${joint1_name}" type="active" calibration_file="${instance}_${mechanism_name}_${joint1_name}_cal.xml"/>
		<xacro:actuator name="${actuator0_name}" serial_number="${actuator0_serial}" node="${actuator0_node}" />
		<xacro:actuator name="${actuator1_name}" serial_number="${actuator1_serial}" node="${actuator1_node}" />
	</Mechanism>
</xacro:macro>

</robot>