<?xml version="1.0"?>
<robot name="drc_skeleton">

    <link name="base_link" />
    
    <link name="pelvis">
        <inertial>
            <mass value="17.882" />
            <origin xyz="0.0111 0 0.0271" rpy="0 -0 0" />
            <inertia ixx="0.1244" ixy="0.0008" ixz="-0.0007" iyy="0.0958" iyz="-0.0005" izz="0.1167" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/pelvis.dae" scale="1 1 1" />
            </geometry>
        </visual>
        
       <visual name="capsule_p1">
         <geometry>  <sphere radius="0.30"/> </geometry>
         <origin  xyz="0.0  -0.0  0.10"/>
       </visual>
       
       <visual name="capsule_p2">
         <geometry>  <sphere radius="0.30"/> </geometry>
         <origin  xyz="0.0  -0.0  -0.05"/>
       </visual>
       
    </link>
    
    <link name="ltorso">
    <inertial>
      <mass value="2.409" />
      <origin xyz="-0.0112984 -3.15366e-06 0.0746835" rpy="0 -0 0" />
      <inertia ixx="0.0039092" ixy="-5.04491e-08" ixz="-0.000342157" iyy="0.00341694" iyz="4.87119e-07" izz="0.00174492" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://atlas_description/meshes_v3/ltorso.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>
  
  <link name="mtorso">
        <inertial>
            <mass value="0.69" />
            <origin xyz="-0.00816266 -0.0131245 0.0305974" rpy="0 -0 0" />
            <inertia ixx="0.000454181" ixy="-6.10764e-05" ixz="3.94009e-05" iyy="0.000483282" iyz="5.27463e-05" izz="0.000444215" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/mtorso.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>
    
    <link name="utorso">
        <inertial>
            <mass value="63.73" />
            <origin xyz="-0.0581 0 0.3056" rpy="0 -0 0" />
            <inertia ixx="1.466" ixy="0.00362" ixz="0.336" iyy="1.51" iyz="0.001" izz="1.3" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/utorso.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/utorso_pack.dae" scale="1 1 1" />
            </geometry>
        </visual>
        
        <visual  name="capsule_p1">
         <geometry>  <sphere radius="0.21"/> </geometry>
         <origin xyz="0.06  -0.08  0.2"/>
       </visual>
       
       <visual  name="capsule_p2">
         <geometry>  <sphere radius="0.21"/> </geometry>
         <origin  xyz="0.06  0.08  0.2"/>
       </visual>
       
    </link>
    
    <link name="r_clav">
        <inertial>
            <mass value="3.45" />
            <origin xyz="0 0.00 -0.284" rpy="0.0 -0 0" />
            <inertia ixx="0.011" ixy="0" ixz="0" iyy="0.009" iyz="0.004" izz="0.004" />
        </inertial>
        <visual>
            <origin xyz="0 0.048 -0.45" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_clav.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    
    <link name="r_scap">
        <inertial>
            <mass value="3.012" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00319" ixy="0" ixz="0" iyy="0.00583" iyz="0" izz="0.00583" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_scap.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>
    

    <link name="r_uarm">
        <inertial>
            <mass value="3.388" />
            <origin xyz="0 0.065 0" rpy="0 -0 0" />
            <inertia ixx="0.00656" ixy="0" ixz="0" iyy="0.00358" iyz="0" izz="0.00656" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_uarm.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>
    
    
   <link name="r_larm">
        <inertial>
            <mass value="2.509" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00265" ixy="0" ixz="0" iyy="0.00446" iyz="0" izz="0.00446" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_larm.dae" scale="1 1 1" />
            </geometry>
        </visual>
   
    <visual  name="capsule_p1">
         <geometry>  <sphere radius="0.15"/> </geometry>
         <origin  xyz="0 -0.0 -0.0"/>
    </visual>
    
    <visual  name="capsule_p2">
         <geometry>  <sphere radius="0.15"/> </geometry>
         <origin  xyz="0 -0.28 -0.0"/>
    </visual>

    </link>
    
    <link name="r_farm">
        <inertial>
            <mass value="3.388" />
            <origin xyz="0 0.065 0" rpy="0 -0 0" />
            <inertia ixx="0.00656" ixy="0" ixz="0" iyy="0.00358" iyz="0" izz="0.00656" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_farm.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>
    
    <link name="r_hand">
        <inertial>
            <mass value="2.509" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00265" ixy="0" ixz="0" iyy="0.00446" iyz="0" izz="0.00446" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="package://atlas_description/meshes_v3/r_hand.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <joint name="base_to_pelvis" type="fixed">
        <parent link="base_link"/>
        <child link="pelvis"/>
        <origin xyz="-0.0 0 0.0" rpy="0 -0 0" />
    </joint>
 
    
    <joint name="back_bkz" type="revolute">
        <origin xyz="-0.0125 0 0" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="pelvis" />
        <child link="ltorso" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="62" velocity="12" lower="-0.663225" upper="0.663225" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.6632" soft_upper_limit="10.6632" />
    </joint>
    
        <joint name="back_bky" type="revolute">
        <origin xyz="0 0 0.162" rpy="0 -0 0" />
        <axis xyz="0 1 0" />
        <parent link="ltorso" />
        <child link="mtorso" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="245" velocity="9" lower="-0.219388" upper="0.538783" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.2194" soft_upper_limit="10.5388" />
    </joint>
    
    <joint name="back_bkx" type="revolute">
        <origin xyz="0 0 0.05" rpy="0 -0 0" />
        <axis xyz="1 0 0" />
        <parent link="mtorso" />
        <child link="utorso" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="163" velocity="12" lower="-0.523599" upper="0.523599" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.5236" soft_upper_limit="10.5236" />
    </joint>
    


    <joint name="r_arm_shz" type="revolute">
        <origin xyz="0.14 -0.20 0.48" rpy="0 -0 0" />
        <axis xyz="0 0 1" /> 
        <parent link="utorso" />
        <child link="r_clav" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="198" velocity="12" lower="-0.785398" upper="1.5708" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10.7854" soft_upper_limit="11.5708" />
    </joint>
    <joint name="r_arm_shx" type="revolute">
        <origin xyz="0 -0.10 -0.25" rpy="0 -0 0" />
        <axis xyz="1 0 0" />
        <parent link="r_clav" />
        <child link="r_scap" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="159" velocity="12" lower="-1.5708" upper="1.5708" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-11.5708" soft_upper_limit="11.5708" />
    </joint>
    <joint name="r_arm_ely" type="revolute">
        <origin xyz="0 -0.19  0.0" rpy="0 -0 0" />
        <axis xyz="0 1 0" />
        <parent link="r_scap" />
        <child link="r_uarm" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="106" velocity="12" lower="0" upper="3.14159" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10" soft_upper_limit="13.1416" />
    </joint>
    <joint name="r_arm_elx" type="revolute">
        <origin xyz="0 -0.12 0.0" rpy="0 -0 0" />
        <axis xyz="1 0 0" />
        <parent link="r_uarm" />
        <child link="r_larm" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="159" velocity="12" lower="-2.35619" upper="-0.2" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-12.3562" soft_upper_limit="10" />
    </joint>
    <joint name="r_arm_wry" type="revolute">
        <origin xyz="0 -0.19 -0.0" rpy="0 -0 0" />
        <axis xyz="0 1 0" />
        <parent link="r_larm" />
        <child link="r_farm" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="106" velocity="12" lower="0" upper="3.14159" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-10" soft_upper_limit="13.1416" />
    </joint>
    <joint name="r_arm_wrx" type="revolute">
        <origin xyz="0 -0.12 0.0" rpy="0 -0 0" />
        <axis xyz="1 0 0" />
        <parent link="r_farm" />
        <child link="r_hand" />
        <dynamics damping="0.1" friction="0" />
        <limit effort="56" velocity="12" lower="-1.1781" upper="1.1781" />
        <safety_controller k_position="100" k_velocity="100" soft_lower_limit="-11.1781" soft_upper_limit="11.1781" />
    </joint>

    <joint name="r_ee_fixed_joint" type="fixed">
        <parent link="r_hand"/>
        <child  link="r_ee_link"/>
        <origin rpy=" 0 0 -1.5708" xyz="0 -0.10  0"/>
    </joint>    
    <link name="r_ee_link"/>

	


</robot>
